.blurbHorizontalVod {

    border: unset;
    border-radius: var(--border-radius);
    overflow: hidden;

    &.light {
        &.card {
            border: var(--border-width, 1px) solid hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0);
            .card-body {
                .card-title {
                    color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
                }
                .card-subtitle {
                    color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.7);
                }
                .card-text {
                    color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.7);
                }
            }
            &.active{
                background-color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.05);
                border: var(--border-width, 1px) solid hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.3);
            }
        }
        a {
            border: var(--border-width, 1px) solid hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0);
            .card-img{
                background-color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.2);
            }
            &:hover {
                border: var(--border-width, 1px) solid hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.7);
            }
        }
    }

    &.dark {
        &.card {
            border: var(--border-width, 1px) solid hsla(var(--light-h), var(--light-s), var(--light-l), 0);
            .card-body {
                .card-title {
                    color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
                }
                .card-subtitle {
                    color: hsla(var(--light-h), var(--light-s), var(--light-l), 0.7);
                }
                .card-text {
                    color: hsla(var(--light-h), var(--light-s), var(--light-l), 0.7);
                }
            }
            &.active{
                background-color: hsla(var(--light-h), var(--light-s), var(--light-l), 0.1);
                border: var(--border-width, 1px) solid hsla(var(--light-h), var(--light-s), var(--light-l), 0.3);
            }
        }
        a {
            border: var(--border-width, 1px) solid hsla(var(--light-h), var(--light-s), var(--light-l), 0);
            .card-img{
                background-color: hsla(var(--light-h), var(--light-s), var(--light-l), 0.2);
            }
            &:hover {
                border: var(--border-width, 1px) solid hsla(var(--light-h), var(--light-s), var(--light-l), 0.7);
            }
        }
    }

    &.card{
        background-color: transparent;
        .card-body {
            padding: 1rem;
        }
    }

    a {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: 120px 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        height: 80px;
        transition: var(--transition-regular);
        .card-body {
            .tags{
                position: absolute;
                top: 10px;

                img {
                    width: 14px;
                }
            }
        }
        .card-img{
            margin-left: 5px;
            width: 100%;
            min-height: 66px;
            border-radius: var(--border-radius);
            overflow: hidden;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            .gatsby-image-wrapper {
                height: 66px;
            }
        }
        &:hover {
            text-decoration: none;
            border-radius: var(--border-radius);
        }
        .card-subtitle {
            font-weight: 100;
            font-size: 0.7rem;
            line-height: 0.7rem;
        }
        .card-title {
            white-space: nowrap;
            overflow: hidden;
            font-weight: 400;
            letter-spacing: 0.5px;
            font-size: 1.1rem;
            line-height: 1.1rem;
            margin-bottom: 5px;
            margin-top: 0px;
        }
        .card-text {
            font-weight: 300;
            font-size: 0.9rem;
            line-height: 1rem;
        }
    }
    
}
