.BlurbVerticalDarkVod {

    border: unset;
    background-color: unset;
    text-decoration: unset;

    &.light {
        &:hover{
            .card-img-container {
                border: var(--border-width, 1px) solid hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
            }
        }
        .card-body {
            h5 {
                a {
                    color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
                }
            }
            span {
                a {
                    color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
                    &:hover {
                        opacity: 1;
                        text-decoration: none;
                    }
                }
            }
            p {
                color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
                font-weight: normal;
                opacity: 0.4;
            }
            .card-img-container {
                picture{
                    &::after {
                        background: linear-gradient(to bottom, hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0) 0%, hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0) 1%, hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0) 39%, hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.36) 61%, hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1) 100%);
                    }
                }
            }
        }
    }
    
    &.dark {
        &:hover{
            .card-img-container {
                border: var(--border-width, 1px) solid hsla(var(--light-h), var(--light-s), var(--light-l), 1);
            }
        }
        .card-body {
            h5 {
                a {
                    color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
                }
            }
            span {
                a {
                    color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
                    &:hover {
                        opacity: 1;
                        text-decoration: none;
                    }
                }
            }
            p {
                color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
                font-weight: normal;
                opacity: 0.4;
            }
            .card-img-container {
                picture{
                    &::after {
                        background: linear-gradient(to bottom, hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0) 0%, hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0) 1%, hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0) 39%, hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.36) 61%, hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1) 100%);
                    }
                }
            }
        }
    }


    .card-body {
        h5 {
            a {
                opacity: 0.9;
                font-weight: 600;
                transition: all 300ms ease;
                &:hover {
                    opacity: 1;
                    text-decoration: none;
                }
            }
        }
        span {
            font-weight: 100;
            a {
                opacity: 0.9;
                transition: all 300ms ease;
                &:hover {
                    opacity: 1;
                    text-decoration: none;
                }
            }
        }
        p {
            font-weight: normal;
            opacity: 0.4;
        }
    }

    .card-img-container {
        position: relative;
        transition: all 300ms ease;
        border: 1px solid transparent;
        border-radius: 5px;

        .card-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
            opacity: 1;
            transition: all 300ms ease;
            &:hover{
                opacity: 1;
            }
            img {
                width: 45px;
                height: 45px;
            }
        }
        picture{
            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
            }
        }
    }
    .card-img-top {
        border-radius: 5px;
        max-height: 144px;
    }
        
}
