## Gatsby Variables
GATSBY_TELEMETRY_DISABLED=1

## Algolia Search Engine
GATSBY_ALGOLIA_APP_ID=<App ID>
GATSBY_ALGOLIA_SEARCH_KEY=<Search-Only API Key>
ALGOLIA_ADMIN_KEY=<Admin API Key>

## Deployment Variables
DEPLOY_BUCKET=staging.example.com
CloudFrontDistribution
CLOUDFRONT_DISTRIBUTION=EXAMPL3DISTID