@import "~include-media/dist/_include-media.scss";

.blurbVertical {


    &.light {
        &.card {
            color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
            background-color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
            border: var(--border-width, 1px) solid hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.1);
            .card-img {
                background-color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.05);
            }
            .card-body {
                .card-title {
                    color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
                }
                .card-subtitle {
                    color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
                    a {
                        text-decoration: unset;
                        color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
                    }
                }
                .card-text {
                    color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.7);
                }
            }
        }
        .number {
            background-color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
            color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
        }
    }

    &.dark {
        &.card {
            color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
            background-color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
            border: var(--border-width, 1px) solid hsla(var(--light-h), var(--light-s), var(--light-l), 0.15);
            .card-img {
                background-color: hsla(var(--light-h), var(--light-s), var(--light-l), 0.05);
            }
            .card-body {
                .card-title {
                    color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
                }
                .card-subtitle {
                    color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
                    a {
                        text-decoration: unset;
                        color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
                    }
                }
                .card-text {
                    color: hsla(var(--light-h), var(--light-s), var(--light-l), 0.7);
                }
            }
        }
        .number {
            background-color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
            color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
        }
    }

    &.card {
        // Lack of Gap support on Safari https://ishadeed.com/article/flexbox-gap/
        margin-left: 0.1rem;
        margin-right: 0.1rem;

        &.grow {
            height: 100%;
        }
        .card-img {
            position: relative;
        }
        .card-body {
            .card-title {
                font-size: 24px;
                line-height: 24px;
                margin-bottom: 0px;
            }
            .card-subtitle {
                font-size: 1.1rem;
                line-height: 1.1rem;
                font-weight: normal;
                margin: 0.5rem 0;
                a {
                    text-decoration: unset;
                }
            }
        }
        &.horizontal {
            display: grid;
            grid-gap: 5px;
            grid-template-columns: minmax(150px, 0.6fr) 1fr;
            grid-template-rows: 1fr;
            align-items: center;
            min-height: 200px;
            transition: var(--transition-regular);
            text-align: left;
            .card-img {
                height: 100%;
                .gatsby-image-wrapper {
                    padding-top: unset;
                    height: 100%;
                }
            }
        }
    }

    /*
     * Item Types
     */
    
    &.card {
       &.brand {
            background-color: transparent;
            border: unset;
            > .card-img {
                background-color: transparent;
            }
            > .card-body {
                padding: 0;
                opacity: 0;
                > .buttons {
                    margin-top: -50%;
                }
            }
       } 
    }

    /*
     * Blurb Types
     */
    .number {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        width: 60px;
        height: 60px;
        position: absolute;
        margin-top: -30px;
        margin-left: auto; 
        margin-right: auto; 
        left: 0; 
        right: 0; 
        z-index: 1;
    }

}

@include media("<desktop") {}
@include media("<=tablet") {}
@include media("<=phone") {}