.blurbHorizontalDarkFeatured {

    border: unset;
    border-radius: var(--border-radius);
    background-color: rgba(var(--color-six-dark-shade-three),0.4);

    a {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: 0.6fr 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        min-height: 200px;
        border: solid 2px rgba(255,255,255,0);
        transition: var(--transition-regular);

        .card-img {
            height: 100%;
            .card-img-left{
                height: 100%;
                border-radius: var(--border-radius);
            }
        }
        .card-body {
            .card-subtitle {
                font-weight: 100;
                font-size: 0.7rem;
                line-height: 0.7rem;
                color: rgba(var(--color-white),0.8);
            }
            .card-title {
                color: rgba(var(--color-white),1);
                font-weight: bold;
                letter-spacing: 0.5px;
                font-size: 1.2rem;
                line-height: 1.2rem;
                margin-bottom: 5px;
            }
            .card-text {
                color: rgba(var(--color-white),0.6);
                font-weight: 300;
                font-size: 0.9rem;
                line-height: 1rem;
            }
            .tags{
                position: absolute;
                top: 10px;

                img {
                    width: 14px;
                }
            }
        }
        &:hover {
            text-decoration: none;
            border: solid 1px rgba(var(--color-white),0.3);
            border-radius: var(--border-radius);
        }
    }
}