@import "../../../node_modules/include-media/dist/_include-media.scss";

.blurbVertical {


    &.card {
        .card-img {
            background-color: var(--color-gray-one);
        }
        .card-body {
            h3 {
                font-size: 30px;
                line-height: 30px;
                margin-bottom: 0px;
            }
            h4 {
                font-size: 14px;
                opacity: 0.7;
                font-weight: 400;
            }
        }
    }

}

@include media("<desktop") {}
@include media("<=tablet") {}
@include media("<=phone") {}