@import "~include-media/dist/_include-media.scss";

.blurbHorizontal {

    border: unset;

    &.light {
        a {
            background-color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0);
            border: var(--border-width, 1px) solid hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.05);
            &:hover {
                border: var(--border-width, 1px) solid hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.3);
            }
        }
        .card-img {
            background-color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.1);
        }
        .card-body {
            .card-title {
                color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
            }
            .card-subtitle {
                color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.7);
            }
            .card-text {
                color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.7);
            }
            .tags{
                > div {
                    color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.5);
                    border-color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.3);
                }
            }
        }
        &.expired {
            a {
                &:hover {
                    border: var(--border-width, 1px) solid hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.05);
                }
            }
            .card-body {
                .card-title {
                    color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.7);
                }
                .card-text {
                    color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.7);
                }
            }
        }
    }

    &.dark {
        a {
            background-color: hsla(var(--dark-h), var(--dark-s), var(--light-2), 1);
            border: var(--border-width, 1px) solid hsla(var(--light-h), var(--light-s), var(--light-l), 0);
            &:hover {
                border: var(--border-width, 1px) solid hsla(var(--light-h), var(--light-s), var(--light-l), 0.3);
            }
        }
        .card-img {
            background-color: hsla(var(--light-h), var(--light-s), var(--light-l), 0.1);
        }
        .card-body {
            .card-title {
                color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
            }
            .card-subtitle {
                color: hsla(var(--light-h), var(--light-s), var(--light-l), 0.7);
            }
            .card-text {
                color: hsla(var(--light-h), var(--light-s), var(--light-l), 0.7);
            }
            .tags{
                > div {
                    color: hsla(var(--light-h), var(--light-s), var(--light-l), 0.5);
                    border-color: hsla(var(--light-h), var(--light-s), var(--light-l), 0.3);
                }
            }
        }
        &.expired {
            a {
                &:hover {
                    border: var(--border-width, 1px) solid hsla(var(--light-h), var(--light-s), var(--light-l), 0);
                }
            }
            .card-body {
                .card-title {
                    color: hsla(var(--light-h), var(--light-s), var(--light-l), 0.7);
                }
                .card-text {
                    color: hsla(var(--light-h), var(--light-s), var(--light-l), 0.7);
                }
            }
        }
    }


    a {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: minmax(150px, 0.6fr) 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        min-height: 200px;
        transition: var(--transition-regular);
        border-radius: var(--border-radius);
        &:hover {
            text-decoration: none;
        }
        .card-body {
            .tags{
                > div {
                    display: inline-flex;
                    flex-wrap: wrap;
                    margin: 4px;
                    font-weight: 300;
                    padding: 0.4rem 1rem;
                    border-width: 1px;
                    border-style: solid;
                    border-radius: 5px;
                }
                img {
                    width: 14px;
                }
            }
            .card-title {
                font-weight: bold;
                letter-spacing: 0.5px;
                margin-bottom: 5px;
            }
            .card-subtitle {
                font-weight: 100;
                font-size: 0.8rem;
                line-height: 0.8rem;
            }
        }
        .card-img{
            height: 100%;
            max-height: 250px;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            > div {
                height: 100%;
                border-radius: 5px 0 0 5px;
            }
        }
    }

    &.expired {
        .card-img {
            .card-img-top {
                img {
                    -webkit-filter: grayscale(100%);
                    filter: grayscale(100%);
                }
            }
        }
    }
    
}

@include media("<desktop") {

}

@include media("<=tablet") {
    .blurbHorizontal {
        a {
            grid-template-columns: minmax(100px, 100px) 1fr;
            min-height: 150px;
            .card-body {
                .card-title {
                    font-size: 1.2rem;
                    line-height: 1.2rem;
                }
                .tags{
                    display: none;
                }
            }
        }
    }

}

@include media("<=phone") {
}
