@import "~include-media/dist/_include-media.scss";

.watchDetails {
    
    .player, .content {
        &.light {
            background-color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
        }
    
        &.dark {
            background-color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
        }

    }

    .content {
        .container, .container-fluid {
            margin: 0 auto;
            padding-top: 70px;
            padding-bottom: 100px;
            .columns {
                display: grid;
                grid-template-columns: 0.3fr 1fr 0.3fr;
                grid-gap: 3rem;
            }
        }
    }
}

@include media("<desktop") {
    .watchDetails {
        .content {
            .container, .container-fluid {
                padding-top: 0px;
                padding-bottom: 100px;
            }
        }
    }
}

@include media("<=tablet") {
    .watchDetails {
        .content {
            .container, .container-fluid {
                padding-left: 0px;
                padding-right: 0px;
                .columns{
                    grid-template-columns: 1fr;
                    grid-gap: 2rem;
                }
            }
        }
    }
}

@include media("<=phone") {
}