@import "~include-media/dist/_include-media.scss";

.watchSeries{

    &.light {
        body {
            background-color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
        }
    }

    &.dark {
        body {
            background-color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
        }
    }

    .bartools {
        margin-bottom: 1rem;
    }

}

@include media("<desktop") {
}

@include media("<=tablet") {
}

@include media("<=phone") {
}