/* 
 * Page Specific 
 */
.watchCampus {

   &.light {
      .navlocal{
         // 
      }
   }

   &.dark {
      &.top{

      }
      .navlocal{
         &.main{
            position: absolute;
         }
         background-color: transparent !important;
         transition: var(--transition-regular);
         &:hover {
            background-color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1) !important;
         }
      }
   }

}