@import "../../../../node_modules/include-media/dist/_include-media.scss";

.watchDetails {


    main {
        max-width: var(--max-layout-width);
        margin: 70px auto 100px auto;

        .columns {
            display: grid;
            grid-template-columns: 0.3fr 1fr 0.3fr;
            grid-gap: 3rem;

            .sidebar-left {
                padding-left: 20px;

                .sticky {
                    position: -webkit-sticky; /* Safari */
                    position: sticky;
                    top: 40px;
                }
                .details {
                    border-bottom: 1px solid var(--color-gray-two);
                    padding-bottom: 1rem;

                    .watchCampus {
                        color: rgba(var(--color-six-dark-shade-three),1);
                        font-weight: 600;
                    }
                    .watchAuthor {
                        color: rgba(var(--color-six-dark-shade-three),1);
                        font-weight: 500;
                        opacity: 0.7;
                        margin-bottom: 0rem;
                    }
                    .watchDate {
                        font-weight: 100;
                        font-size: 0.8rem;
                    }

                }
            }
            
            .content {
                // margin-top: 2rem;
                .overview {
                    .introCard {

                        &.introCardGrid {
                            display: grid;
                            grid-gap: 20px;
                            grid-template-columns: 120px 1fr;
                            align-items: center;
                        }

                        h1 {
                            font-size: 3rem;
                            line-height: 3rem;
                            margin-bottom: 0px;
                        }
                        h2,
                        a h2 {
                            font-size: 2rem;
                            line-height: 2rem;
                            font-weight: 300;
                            margin-bottom: 0px;
                            text-decoration: none;
                            color: rgba(var(--color-black),1);
                        }
                        a{
                            &:hover {
                                text-decoration: none;
                            }
                        }
                        .serieGraphic {
                            .graphic {
                                height: 120px;
                                width: 120px;
                                img {
                                    border-radius: 100%;
                                }
                            }
                        }

                    }
                }
            }
            
            .sidebar-right {
                padding-right: 20px;
                margin-bottom: 20px;
                .sticky {
                    position: -webkit-sticky; /* Safari */
                    position: sticky;
                    top: 40px;
                }
                .resources {
                    > h5{
                        margin-bottom: 2rem;
                    }
                }
            }
        }
        
        .nav-tabs {
            border-bottom: 2px solid #EAEAEA;
            margin-bottom: 3rem;
            background-color: rgba(var(--color-white),1);
            
            .nav-link {
                color: var(--color-gray-five);
                padding: 1rem 2rem 1rem 2rem;
                font-weight: 100;
                &.active{
                    color: rgba(var(--color-black),1);
                    font-weight: 900;
                    border-bottom: 3px solid var(--color-four);
                }
                &:hover {
                    color: rgba(var(--color-black),1);
                }
            }
            &.sticky {
                position: -webkit-sticky; /* Safari */
                position: sticky;
                top: 0px;
            }

        }

        .attachments {
            background-color: #E6F3F5;
            border-radius: 7px;
            margin: 2rem 0;
            padding: 1rem;

            > a {
                &.item {
                    display: flex;
                    margin: 5px 0px;
                }
            }
        }

    }
}

@include media("<desktop") {
    .watchDetails {

        main {
            margin-top: 0px;
        }

    }
}

@include media("<=tablet") {
    .watchDetails {

        main {
            .columns{
                grid-template-columns: 1fr;

                .sidebar-left {
                    padding: 0px;
                    .details {
                        display: none;
                    }
                }

                .content {
                    padding: 0px;
                    .tab-content {
                        padding: 0px 20px;
                    }
                    .overview {
                        padding: 0px 20px;
                        .introCard {
                            
                            &.introCardGrid {
                                align-items: start;
                                grid-template-columns: 1fr;
                            }
                            .serieGraphic {
                                .graphic {
                                    height: 80px;
                                    width: 80px;
                                    display: none;
                                }
                            }
                        }
                    }
                    .attachments {
                        margin: 0px 20px;
                    }
                }

                .sidebar-right {
                    padding: 0px;
                    margin: 0px 20px;
                }

                .nav-tabs {
                    &.sticky {
                        position: -webkit-sticky; /* Safari */
                        position: sticky;
                        top: 200px;
                    }
                }

            }
        }

    }
}

@include media("<=phone") {
    .watchDetails {

        main {
            .columns{
                .content {
                    .overview {
                        .introCard {
                            &.introCardGrid {
                                display: flex;
                            }
                            .serieGraphic {
                                display: none;
                            }
                        }
                    }
                }
            }
        }

    }
}