@import "../../../../node_modules/include-media/dist/_include-media.scss";

.watchDetails {

    .watchPlayer {
        border-top: 1px solid rgba(var(--color-white),0.1);
        padding: 1rem 0;
        position: relative;

        .content-container {
            max-width: unset;
            margin: 0px auto;
            display: grid;
            grid-template-columns: 1fr 0.4fr;
            grid-template-rows: auto;
            position: relative;
            z-index: 1;

            div[data-vjs-player],
            .video-js {
                width: 100%;
                margin: 0px auto;
                min-height: 520px;
            }
            .vjs-poster {
                background-color: var(--color-six-dark-shade-three);
            }
        }

        .background {
            position: absolute;
            top: 0px;
            z-index: 0;
            width: 100%;
            height: 100%;

            &:after{
                content: '';
                // background: linear-gradient(to bottom, rgba(0, 15, 255, 0) 0%, rgba(0, 15, 251, 0) 1%, rgba(10, 12, 109, 0) 39%, rgba(15, 10, 27, 0.36) 61%, #0f0a1b 100%);
                background: linear-gradient(180deg, rgba(var(--color-six-dark-shade-three),0) 0%, rgba(var(--color-six-dark-shade-three),0.5) 50%, rgba(var(--color-six-dark-shade-three),1) 100%);
                position: absolute;
                width: 100%;
                height: 30%;
                bottom: 0;
            }

            > .overlay {
                background: rgba(var(--color-six-dark-shade-three),0.7);
                position: absolute;
                z-index: 1;
                width: 100%;
                height: 100%;
            }

            > .poster {
                position: relative;
                height: 100%;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }

    }

    main {
        max-width: var(--max-layout-width);
        margin: 70px auto 100px auto;

        .columns {
            display: grid;
            grid-template-columns: 0.3fr 1fr 0.3fr;
            grid-gap: 3rem;

            .sidebar-left {
                padding-left: 20px;

                .sticky {
                    position: -webkit-sticky; /* Safari */
                    position: sticky;
                    top: 40px;
                }
                .details {
                    border-bottom: 1px solid var(--color-gray-two);
                    padding-bottom: 1rem;

                    .watchCampus {
                        color: rgba(var(--color-six-dark-shade-three),1);
                        font-weight: 600;
                    }
                    .watchAuthor {
                        color: rgba(var(--color-six-dark-shade-three),1);
                        font-weight: 500;
                        opacity: 0.7;
                        margin-bottom: 0rem;
                    }
                    .watchDate {
                        font-weight: 100;
                        font-size: 0.8rem;
                    }

                }
            }
            
            .content {
                margin-top: 2rem;
                .overview {
                    .introCard {

                        &.introCardGrid {
                            display: grid;
                            grid-gap: 20px;
                            grid-template-columns: 120px 1fr;
                            align-items: center;
                        }

                        h1 {
                            font-size: 3rem;
                            line-height: 3rem;
                            margin-bottom: 0px;
                        }
                        h2,
                        a h2 {
                            font-size: 2rem;
                            line-height: 2rem;
                            font-weight: 300;
                            margin-bottom: 0px;
                            text-decoration: none;
                            color: rgba(var(--color-black),1);
                        }
                        a{
                            &:hover {
                                text-decoration: none;
                            }
                        }
                        .serieGraphic {
                            .graphic {
                                height: 120px;
                                width: 120px;
                                img {
                                    border-radius: 100%;
                                }
                            }
                        }

                    }
                }
            }
            
            .sidebar-right {
                padding-right: 20px;
                margin-bottom: 20px;
                .sticky {
                    position: -webkit-sticky; /* Safari */
                    position: sticky;
                    top: 40px;
                }
                .resources {
                    > h5{
                        margin-bottom: 2rem;
                    }
                }
            }
        }
        
        .nav-tabs {
            border-bottom: 2px solid #EAEAEA;
            margin-bottom: 3rem;
            background-color: rgba(var(--color-white),1);
            
            .nav-link {
                color: var(--color-gray-five);
                padding: 1rem 2rem 1rem 2rem;
                font-weight: 100;
                &.active{
                    color: rgba(var(--color-black),1);
                    font-weight: 900;
                    border-bottom: 3px solid var(--color-four);
                }
                &:hover {
                    color: rgba(var(--color-black),1);
                }
            }
            &.sticky {
                position: -webkit-sticky; /* Safari */
                position: sticky;
                top: 0px;
            }

        }

        .attachments {
            background-color: #E6F3F5;
            border-radius: 7px;
            margin: 2rem 0;
            padding: 1rem;

            > a {
                &.item {
                    display: flex;
                    margin: 5px 0px;
                }
            }
        }

    }
}

@include media("<desktop") {
    .watchDetails {

        .watchPlayer {

            .content-container{
                max-height: unset;
                grid-template-columns: 1fr;

                div[data-vjs-player],
                .video-js {
                    height: unset;
                    padding-top: 56.25%;
                    min-height: unset;
                    height: 520px;
                }
            }
        }

        main {
            margin-top: 0px;
        }

    }
}

@include media("<=tablet") {
    .watchDetails {
        .watchPlayer {

            .content-container {
                max-height: unset;
                grid-template-columns: 1fr;
                margin-bottom: 0px;

                div[data-vjs-player],
                .video-js {
                    padding-top: 56.25%;
                    height: 240px;
                }
    
                .player {
                    &.scrolled{
                        position: fixed;
                        top: 0;
                        left: 0;
                        width: 100%;
                        z-index: 10;
                        height: 240px;
                    }
                }

            }

        }

        main {
            .columns{
                grid-template-columns: 1fr;

                .sidebar-left {
                    padding: 0px;
                    .details {
                        display: none;
                    }
                }

                .content {
                    padding: 0px;
                    .tab-content {
                        padding: 0px 20px;
                    }
                    .overview {
                        padding: 0px 20px;
                        .introCard {
                            
                            &.introCardGrid {
                                align-items: start;
                                grid-template-columns: 1fr;
                            }
                            .serieGraphic {
                                .graphic {
                                    height: 80px;
                                    width: 80px;
                                    display: none;
                                }
                            }
                        }
                    }
                    .attachments {
                        margin: 0px 20px;
                    }
                }

                .sidebar-right {
                    padding: 0px;
                    margin: 0px 20px;
                }

                .nav-tabs {
                    &.sticky {
                        position: -webkit-sticky; /* Safari */
                        position: sticky;
                        top: 240px;
                    }
                }

            }
        }

    }
}

@include media("<=phone") {
    .watchDetails {

        main {
            .columns{
                .content {
                    .overview {
                        .introCard {
                            &.introCardGrid {
                                display: flex;
                            }
                            .serieGraphic {
                                display: none;
                            }
                        }
                    }
                }
            }
        }

    }
}