@import "~include-media/dist/_include-media.scss";

.heroSimple {
    position: relative;

    &.light {
        .jumbotron {
            .content {
                h1, h1 > a {
                    color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
                }
                p {
                    color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.7);
                }
            }
            .heroBackground {
                &::after {
                    background: linear-gradient(to bottom, hsla(var(--light-h), var(--light-s), var(--light-l), 0) 0%, hsla(var(--light-h), var(--light-s), var(--light-l), 0) 1%, hsla(var(--light-h), var(--light-s), var(--light-l), 0) 39%, hsla(var(--light-h), var(--light-s), var(--light-l), 0.35) 61%, hsla(var(--light-h), var(--light-s), var(--light-l), 1) 100%),
                                linear-gradient(to left, hsla(var(--light-h), var(--light-s), var(--light-l), 0) 0%, hsla(var(--light-h), var(--light-s), var(--light-l), 0) 1%, hsla(var(--light-h), var(--light-s), var(--light-l), 0) 39%, hsla(var(--light-h), var(--light-s), var(--light-l), 0.35) 61%, hsla(var(--light-h), var(--light-s), var(--light-l), 1) 100%),
                                linear-gradient(to top, hsla(var(--light-h), var(--light-s), var(--light-l), 0) 75%, hsla(var(--light-h), var(--light-s), var(--light-l), 0.7) 100%);        
                }
            }
        }
    }

    &.dark {
        .jumbotron {
            .content {
                h1, h1 > a {
                    color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
                }
                p {
                    color: hsla(var(--light-h), var(--light-s), var(--light-l), 0.7);
                }
            }
            .heroBackground {
                &::after {
                    background: linear-gradient(to bottom, hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0) 0%, hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0) 1%, hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0) 39%, hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.35) 61%, hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1) 100%),
                                linear-gradient(to left, hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0) 0%, hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0) 1%, hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0) 39%, hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.35) 61%, hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1) 100%),
                                linear-gradient(to top, hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0) 75%, hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.7) 100%);        
                }
            }
        }
    }

    .jumbotron {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0px;
        border-radius: unset;
        padding: 10rem 15px 7rem 15px;

        .content {
            z-index: 2;
            p {
                max-width: 520px;
                font-size: 1.2rem;
            }
            h1,
            h1 > a {
                font-size: 2rem;
                line-height: 2rem;
                letter-spacing: 1px;
                text-decoration: none;
                &:hover {
                    text-decoration: none;
                }
            }
            a {
                h1.display-1 {
                    font-size: 4rem;
                    line-height: 3.2rem;
                    text-transform: uppercase;
                }
                &:hover {
                    text-decoration: none;
                }
            }
            .buttons {
                position: relative;
                display: inline-flex;
                gap: 20px;
            }
        }
        
        .iconSeries {
            > .gatsby-image-wrapper {
                display: block;
                width: 100%;
                max-width: 520px;
                height: 100px;
            }
        }

        .heroBackground {
            z-index: 0;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            top: 0;
            overflow: hidden;
            &::after,
            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                z-index: 10;
            }
            .heroBackgroundIcon {
                display: flex;
                margin: 2rem 0;
                align-items: center;
                justify-content: center;
                text-align: center;
                z-index: 11;
                transition: var(--transition-fast);
            }
            .heroBackgroundIcon {
                &:hover {
                    transform: scale(1.1);
                }
            }
            .backgroundImage {
                position: absolute;
                width: 100%;
                height: 100%;
                .background {
                    background-position: center top;
                    background-size: cover;
                    background-attachment: cover;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .gatsby-image-wrapper {
            img {
                object-fit: contain !important;
                object-position: left center !important;
            }
        }
        
    }
}

@include media("<tablet") {
    .heroSimple { 
        .row {
            flex-direction: column-reverse;
        }
    }
    .heroSimple { 
        .jumbotron{
            padding: 10rem 0rem 0rem 0rem;
            .heroBackgroundIcon {
                display: none;
            }
        }
    }
}
@include media("<=tablet", 'portrait') {
    
}