@import "~include-media/dist/_include-media.scss";

.heroSeries {
    
    &.light {
        .container,
        .container-fluid {
            .serieName {
                color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
            }
            >.jumbotron {
                background-color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
                border: var(--border-width, 1px) solid hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.1);
                .about {
                    h2 {
                        color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
                    }
                    p {
                        color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.7);
                    }
                }
                .trailer {
                    .playButton {
                        > a {
                            color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
                            > div {
                                -webkit-filter: drop-shadow( 0px 0px 12px hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.4));
                                filter: drop-shadow( 0px 0px 12px hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.4));
                            }
                        }
                    }
                }
            }
        }
        .background {
            &:after{
                background: linear-gradient(180deg, hsla(var(--light-h), var(--light-s), var(--light-l), 0) 0%, hsla(var(--light-h), var(--light-s), var(--light-l), 0.5) 50%, hsla(var(--light-h), var(--light-s), var(--light-l), 1) 100%);
            }
            > .overlay {
                background: hsla(var(--light-h), var(--light-s), var(--light-l), 0.7);;
            }
        }

    }

    &.dark {
        .container,
        .container-fluid {
            .serieName {
                color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
            }
            >.jumbotron {
                background-color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
                border: var(--border-width, 1px) solid hsla(var(--light-h), var(--light-s), var(--light-l), 0.3);
                .about {
                    h2 {
                        color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
                    }
                    p {
                        color: hsla(var(--light-h), var(--light-s), var(--light-l), 0.7);
                    }
                }
                .trailer {
                    .playButton {
                        > a {
                            color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
                            > div {
                                -webkit-filter: drop-shadow( 0px 0px 12px hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.4));
                                filter: drop-shadow( 0px 0px 12px hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.4));
                            }
                        }
                    }
                }
            }
        }
        .background {
            &:after{
                background: linear-gradient(180deg, hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0) 0%, hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.5) 50%, hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1) 100%);
            }
            > .overlay {
                background: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.7);;
            }
        }
    }

    .container,
    .container-fluid {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        padding-top: 80px;
        padding-bottom: 80px;
        position: relative;
        z-index: 1;
        .serieName {
            position: relative;
            z-index: 2;
            margin: 0px auto 3rem auto;
            min-width: 300px;
        }
        >.jumbotron {
            position: relative;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 'about trailer';
            align-items: center;
            width: 100%;
            padding: 0px;
            z-index: 1;
            overflow: hidden;
            .about {
                padding: 2.5rem;
                grid-area: about;
                h2 {
                    font-size: 1.5rem;
                    line-height: 1.5rem;
                    margin-bottom: 1rem;
                }
                p {
                    margin-bottom: 1rem;
                }
            }
            .trailer {
                grid-area: trailer;
                position: relative;
                .player-wrapper {
                    height: 100%;
                }
                .trailerContainer {
                    .noTrailer {
                        min-height: 420px;
                    }
                }
                .playButton {
                    position: absolute;
                    width: 100%;
                    height: calc(100% - 45px);
                    > a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                        transition: var(--transition-fast);
                        &:hover {
                            transform: scale(1.1);
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    .background {
        position: absolute;
        top: 0px;
        z-index: 0;
        width: 100%;
        height: 100%;
        &:after{
            content: '';
            position: absolute;
            width: 100%;
            height: 30%;
            bottom: 0;
            z-index: 3;
        }
        > .overlay {
            position: absolute;
            z-index: 4;
            width: 100%;
            height: 100%;
        }
        > .background-image {
            position: absolute !important;
            z-index: 1;
            height: 100%;
            width: 100%;
        }
    }
}


@include media("<desktop") {

}

@include media("<=tablet") {

    .heroSeries {
        .container,
        .container-fluid {
            > .jumbotron {
                grid-template-columns: 1fr;
                grid-template-areas: 
                    'trailer' 
                    'about';

                .trailer {
                    .trailerContainer {
                        .noTrailer {
                            min-height: 220px;
                        }
                    }
                }
            }
        }
    }
    
}

@include media("<=phone") {
}