@import "~include-media/dist/_include-media.scss";

.followdropdown{

    &.light {
        &.dropdown {
            .dropdown-menu {
                border: var(--border-width, 1px) solid hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.3);
                background-color: hsla(var(--light-h),var(--light-s),var(--light-l),1);
                .socialicons {
                    svg {
                        color: hsla(var(--dark-h),var(--dark-s),var(--dark-l),0.7);
                        &:hover {
                            color: hsla(var(--dark-h),var(--dark-s),var(--dark-l),1);
                        }
                    }
                }
                .dropdown-header {
                    color: hsla(var(--dark-h),var(--dark-s),var(--dark-l),1);
                }
                p {
                    color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.7);
                }
                .dropdown-item {
                    color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.7);
                    &:hover {
                        color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
                    }
                }
                .mailchimp{
                    a {
                        color: hsla(var(--primary-h), var(--primary-s), var(--primary-l), 0.7);
                        &:hover {
                            color: hsla(var(--primary-h), var(--primary-s), var(--primary-l), 1);
                        }
                    }
                }
            }
            > button {
                color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.7);
                &:hover,
                &.button-primary:hover {
                    color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
                }
                &[aria-expanded="true"] {
                    color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
                    background-color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.03);
                }
            }
        }
    }
    &.dark {
        &.dropdown {
            .dropdown-menu {
                border: var(--border-width, 1px) solid hsla(var(--light-h), var(--light-s), var(--light-l), 0.3);
                background-color: hsla(var(--dark-h),var(--dark-s),var(--dark-l),1);
                .socialicons {
                    svg {
                        color: hsla(var(--light-h),var(--light-s),var(--light-l),0.7);
                        &:hover {
                            color: hsla(var(--light-h),var(--light-s),var(--light-l),1);
            
                        }
                    }
                }
                .dropdown-header {
                    color: hsla(var(--light-h),var(--light-s),var(--light-l),1);
                }
                p {
                    color: hsla(var(--light-h), var(--light-s), var(--light-l), 0.7);
                }
                .dropdown-item {
                    color: hsla(var(--light-h), var(--light-s), var(--light-l), 0.7);
                    &:hover {
                        color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
                    }
                }
                .mailchimp{
                    a {
                        color: hsla(var(--primary-h), var(--primary-s), var(--primary-l), 0.7);
                        &:hover {
                            color: hsla(var(--primary-h), var(--primary-s), var(--primary-l), 1);
                        }
                    }
                }
            }
            > button {
                color: hsla(var(--light-h), var(--light-s), var(--light-l), 0.7);
                &:hover,
                &.button-primary:hover {
                    color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
                    background-color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
                }
                &[aria-expanded="true"] {
                    background-color: hsla(var(--light-h), var(--light-s), var(--light-l), 0.1);
                    color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
                }
            }
        }
    }

    &.dropdown {
        > button {

            margin: 0px;
            padding: 10px 23px 10px 15px;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 1px;
            border-radius: unset;
            border: unset;
            text-transform: initial;
            min-height: 60px;

            &::after{
                margin-top: 10px;
                z-index: 1;
                display: none;
            }
        }
        .dropdown-menu {
            left: unset;
            right: 0px;
            p{
                padding: .5rem 2rem;
            }
            .dropdown-header {
                text-transform: uppercase;
                font-size: 1.5rem;
                font-weight: 900;
            }
            .dropdown-item {
                font-size: 1rem;
                font-weight: 400;
                letter-spacing: 1px;
                padding: .5rem 2rem;
                &:hover {
                    background-color: unset;
                }
            }
        }
    }

    .socialicons {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20px,1fr));
        grid-gap: 15px;
        justify-items: center;
        padding: .5rem 2rem;
        svg {
            transition: all 300ms ease;
        }
    }
    .mailchimp{
        padding: .5rem 2rem;
        .form-group{
            margin-bottom: 0px;
        }
    }

    .applinks {
        padding: .5rem 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        grid-gap: 20px;
    }

}

@include media("<desktop") {
    .followdropdown {
        .applinks{
            grid-template-columns: 1fr;
        }
    }
}
@include media("<=tablet") {}
@include media("<=phone") {}