.menuPage {
    padding: 0px;
    overflow: hidden;
    &.navbar-dark {
        background-color: rgba(var(--color-white),1);
        .navbar-brand {
            a {
                color: rgba(var(--color-white),1);
            }
        }
        .navbar-nav{ 
            .nav-link {
                color: rgba(var(--color-white),0.7);
            }
        }
        &::after{
            background: linear-gradient(270deg, rgba(var(--color-six-dark-shade-three),1) 0%, rgba(var(--color-six-dark-shade-three),0) 100%);
        }
    }
    &.navbar-light {
        background-color: rgba(var(--color-black),1);
        .navbar-brand {
            a {
                color: rgba(var(--color-black),1);
            }
        }
        .navbar-nav{ 
            .nav-link {
                color: rgba(var(--color-black),0.7);
            }
        }
        &::after{
            background: linear-gradient(270deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
        }
    }
    .navbar-nav {
        display: flex;
        width: 100%;
    }
    &::after{
        content: '';
        height: 100px;
        width: 50px;
        z-index: 2;
        position: absolute;
        right: 0;
    }
    .navbar-brand {
        a {
            font-weight: 400;
            padding: .5rem 1rem;
            &:hover {
                text-decoration: none;
            }
        }
    }
    .navbar-nav {
        overflow: auto;
        white-space: nowrap;
        position: relative;
        .nav-item {
            display: flex;
            align-items: stretch;
            .nav-link {
                padding: .5rem 1rem;
                display: flex;
                align-items: center;
                &.active {
                    font-weight: 600;
                    border-bottom: solid 3px rgba(var(--color-black),1);
                }
            }
            &:last-child{
                padding-right: 5rem;
            }
        }
    }

    &.sticky {
        position: sticky;
        top: 0;
        z-index: 10;
        min-height: 70px;
    }

}