@import "~include-media/dist/_include-media.scss";

.menuPage {
    padding: 0px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    height: 45px;
    
    &.light {
        border-top: var(--border-width, 1px) solid hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.1);
        border-bottom: var(--border-width, 1px) solid hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.1);
        background-color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
        .navbar-brand {
            a {
                border: var(--border-width, 1px) solid hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0);
                color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
                &[aria-current="page"] {
                    background-color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.05);
                    border-bottom: var(--border-width, 1px) solid hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
                }
                &:hover {
                    color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
                    background-color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.1);
                    border: var(--border-width, 1px) solid hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
                }
            }
        }
        .navbar-nav { 
            a {
                &.nav-link {
                    color:  hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.7);
                    border: var(--border-width, 1px) solid hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0);
                    &.active {
                        background-color: hsla(var(--light-h), var(--light-s), var(--light-l), 0.05);
                        color:  hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
                        border-bottom: var(--border-width, 1px) solid hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
                    }
                    &:hover {
                        color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
                        background-color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.1);
                        border: var(--border-width, 1px) solid hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
                    }
                }
            }
        }
        .close {
            > a{
                color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.7);
                &:hover {
                    color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
                }
            }
        }
        &::after{
            background: linear-gradient(270deg, hsla(var(--light-h), var(--light-s), var(--light-l), 1) 0%, hsla(var(--light-h), var(--light-s), var(--light-l), 0.75) 50%, hsla(var(--light-h), var(--light-s), var(--light-l), 0) 100%);
        }
    }

    &.dark {
        border-top: var(--border-width, 1px) solid hsla(var(--light-h), var(--light-s), var(--light-l), 0.2);
        border-bottom: var(--border-width, 1px) solid hsla(var(--light-h), var(--light-s), var(--light-l), 0.2);
        background-color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
        .navbar-brand {
            a {
                border: var(--border-width, 1px) solid hsla(var(--light-h), var(--light-s), var(--light-l), 0);
                color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
                &[aria-current="page"] {
                    background-color: hsla(var(--light-h), var(--light-s), var(--light-l), 0.1);
                    border-bottom: var(--border-width, 1px) solid hsla(var(--light-h), var(--light-s), var(--light-l), 1);
                }
                &:hover {
                    color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
                    background-color: hsla(var(--light-h), var(--light-s), var(--light-l), 0.3);
                    border: var(--border-width, 1px) solid hsla(var(--light-h), var(--light-s), var(--light-l), 1);
                }
            }
        }
        .navbar-nav { 
            a {
                &.nav-link {
                    color:  hsla(var(--light-h), var(--light-s), var(--light-l), 0.7);
                    border: var(--border-width, 1px) solid hsla(var(--light-h), var(--light-s), var(--light-l), 0);
                    &.active {
                        background-color: hsla(var(--light-h), var(--light-s), var(--light-l), 0.1);
                        color:  hsla(var(--light-h), var(--light-s), var(--light-l), 1);
                        border-bottom: var(--border-width, 1px) solid hsla(var(--light-h), var(--light-s), var(--light-l), 1);
                    }
                    &:hover {
                        color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
                        background-color: hsla(var(--light-h), var(--light-s), var(--light-l), 0.3);
                        border: var(--border-width, 1px) solid hsla(var(--light-h), var(--light-s), var(--light-l), 1);
                    }
                }
            }
        }
        .close {
            a {
                color: hsla(var(--light-h), var(--light-s), var(--light-l), 0.7);
                &:hover {
                    color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
                }
            }
        }
        &::after{
            background: linear-gradient(270deg, hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1) 0%, hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.85) 60%, hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0) 100%);
        }
    }

    .navbar-nav {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &::after{
        content: '';
        z-index: 2;
        position: absolute;
        right: 0;
        width: 48px;
        height: 100%;
    }
    
    .navbar-brand {
        margin-right: 0px;
        height: 100%;
        padding: 0px;
        a {
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-weight: 400;
            padding: 0.5rem 1rem;
            height: 100%;
            line-height: 1.5rem;
            font-size: 1rem;
            &:hover {
                text-decoration: none;
            }
            &[aria-current="page"] {
                position: relative;
            }
        }
    }

    .navbar-nav {
        overflow: auto;
        white-space: nowrap;
        position: relative;
        .nav-item {
            display: flex;
            align-items: stretch;
            .nav-link {
                padding: .5rem 1rem;
                display: flex;
                align-items: center;
                &.active {
                    font-weight: 600;
                }
            }
            &:last-child{
                padding-right: 5rem;
            }
        }
    }
    
    .close {
        opacity: unset;
        font-weight: 100;
        position: absolute;
        height: 100%;
        right: 0px;
        display: flex;
        align-items: center;
        margin: 0 1rem;
        z-index: 3;
        &:not(:disabled):not(.disabled):hover, 
        .close:not(:disabled):not(.disabled):focus,
        &:hover{
            opacity: unset;
        }
    }

    &.sticky {
        position: sticky;
        top: 0;
        z-index: 10;
        min-height: 70px;
    }

}

@include media("<desktop") {
}

@include media("<=tablet") {
}

@include media("<tablet") {
    .menuPage {
        .navbar-brand {
            a {
                max-width: 15ch;
            }
        }
    }
}

@include media("<=phone", "portrait") {
}
