@import "~include-media/dist/_include-media.scss";
.menuGlobal {

    position: relative;
    z-index: 10;

    .navglobal {
        position: relative;
        z-index: 5;
        height: 60px;
        border-bottom: 1px solid hsla(var(--light-h), var(--light-s), var(--light-l), 0.2);
        

        &.navbar-dark {
            .dropdown {
                color: hsla(var(--light-h), var(--light-s), var(--light-l), 0.5);
                &:hover{
                    color: hsla(var(--light-h), var(--light-s), var(--light-l), 0.7);
                }
                &.show {
                    color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
                }
                .nav-link {
                    color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
                }
                .dropdown-divider {
                    border-top: 1px solid hsla(var(--light-h), var(--light-s), var(--light-l), 0.2);
                    padding: 0px;
                }
            }
        }
        &.navbar-light {
            .dropdown {
                color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.5);
                &:hover{
                    color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.7);
                }
                &.show {
                    color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
                }
                .nav-link {
                    color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
                }
                .dropdown-divider {
                    border-top: 1px solid hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.2);
                    padding: 0px;
                }
            }
        }

        .menu {
            flex-grow: unset;
            &.show,
            &.collapsing {
                display: flex;
                order: 10;
                max-width: 100%;
            }
            .navbar-nav {
                width: 100%;
                .dropdown > button {
                    width: 100%;
                }
            }
        }

        .dropdown-menu {
            padding: 1rem o;
        }
        .navbar {
            height: 60px;
        }

    }

    .search {
        position: relative;
        width: 30px;
        height: 44px;
        padding: 5px 0;
        margin: 0 5px;
        order: 100;
    }

}

@include media("<desktop") {
    .menuGlobal {
        .search {
            order: 5;
        }
        .navglobal {
            .menu-collapsed {
                order: 10;
            }
            .menu {
                // background-color: rgba(var(--color-six-dark-shade-three), 1);
                // border-bottom: 1px solid var(--color-six);
            }
        }
    }
}