@import "../../../node_modules/include-media/dist/_include-media.scss";

.navlocal {
    
    &.navbar {
        padding: 0rem 1rem;
    }
    .mobileonly {
        display: none !important;
    }

    .navbar-toggler {
        transition: all 300ms ease;
        margin-right: 15px;
        color: rgba(255,255,255,1);
        background-color: rgba(var(--color-six-dark-shade-three),1);
        &.collapsed {
            color: rgba(255,255,255,0.5);
            background-color: rgba(var(--color-six-dark-shade-three),0.5);
        }
    }
    .navbar-toggler-icon{
        background: unset;
    }

    .wrapper {
        width: 100%;
        display: flex;
    }
    .navbrand {
        display: block;
        width: 100%;
        background-position: center center;
        background-size: contain;
        align-items: center;
        min-height: 50px;
        max-width: 200px;
        background-repeat: no-repeat;
        margin-right: 30px;
    }
    .mainnav {
        justify-content: flex-end;
    }
    .navbarmenu {
        height: 80px;
        position: initial;
        padding: initial;

        .btn {
            margin: 0px 10px;
            &.nav-link{
                color: rgba(var(--color-white),1);
                padding: 15px 25px;

                &:hover {
                    color: rgba(var(--color-black),1);
                }
            }
        }

        > .nav-link {
            text-align: center;
            display: flex;
            justify-content: center;
        }
    }
    .dropdown {
        position: initial;
        .dropdown-toggle{
            &:after{
                display: none;
            }
        }
    }
    .regularmenu {
        .dropdown-menu {
            left: unset;
            border: unset;
            border-radius: unset;
            background-color: rgba(var(--color-six-dark-shade-three),1) !important;
            padding: 3rem;
            
            .dropdown-item {
                padding: .6rem 1.5rem;
                color: var(--color-six-shade-three);
                transition: all 300ms ease;
                letter-spacing: 1px;
                font-weight: 400;

                &:hover {
                    color: var(--color-one);
                    background-color: transparent;
                }
            }
        }
    }
    .megamenu {
        .dropdown-menu.show {
            width: 100%;
        }
        .dropdown-item.active {
            color: var(--color-six);
            background-color: var(--color-six-shade-one);
        }
    }
    .megamenu, .regularmenu  {
        h6 {
            color: var(--color-six-shade-one);
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 600;
            user-select: none;
        }
        .row {
            width: 100%;
            margin-left: initial;
            margin-left: initial;
        }
        .navcontent {
            padding: 3rem;

            .dropdown-item {
                padding: .6rem 1.5rem;
                color: var(--color-six-shade-three);
                transition: all 300ms ease;
                letter-spacing: 1px;
                font-weight: 400;

                &:hover {
                    color: var(--color-one);
                    background-color: rgba(var(--color-six-dark-shade-three),1);                
                }
            }

        }
        .dropdown-menu.show{
            color: rgba(var(--color-white),1);
            background-color: rgba(var(--color-six-dark-shade-three),1) !important;
            border-radius: initial;
            border: none;
            padding: initial;
        }
        .dropdown-item {
            color: rgba(var(--color-white),1);
        }
    }

    a.navitems,
    .navitems > a {
        color: rgba(255,255,255,0.8) !important;
        padding: 20px 30px !important;
        font-weight: 400;
        letter-spacing: 1px;
        transition: all 300ms ease;
        min-height: 80px;
        align-items: center;
        display: flex;
        text-transform: uppercase;
        
        &.active{
            font-weight: 900;
            color: rgba(var(--color-white),1) !important;
        }
    }
    a.navitems:hover,
    .navitems > a:hover,
    .navitems > a[aria-expanded="true"] {
        color: rgba(var(--color-white),1) !important;
        background-color: rgba(var(--color-six-dark-shade-three),1);
    }

    @include media("≥phone", "<850px") {
        .navbarmenu {
            height: auto;
        }
        .navbar-collapse {
            background-color:  rgba(var(--color-six-dark-shade-three),1);
        }
        a.navitems:hover,
        .navitems > a:hover,
        .navitems > a[aria-expanded="true"] {
            background-color: var(--color-five-dark-shade-one) !important;
        }
        .megamenu, .regularmenu {
            h6 {
                padding: 2rem 1.5rem 0.5rem 1.5rem;
            }
            .dropdown-menu.show{
                background-color: var(--color-six-dark-shade-two) !important;
            }
            .navcontent {
                padding: 0rem;
            }
            > .nav-link {
                border-bottom: 1px solid rgba(var(--color-white),0.05);
                justify-content: center;
            }
        }
        .dropdown-item {
            border-bottom: 1px solid rgba(var(--color-white),0.05);
        }
        .mobileonly {
            display: block !important;
        }
    }

    .menucta,
    .menubutton {
        display: flex;
        align-items: center;
        margin: 20px;
        .btn {
            margin: unset;
        }
        a {
            width: 100%;
        }
    }

}