.menuPage {
    padding: 0px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    height: 45px;
    
    &.light {
        border-top: var(--border-width, 1px) solid hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.1);
        border-bottom: var(--border-width, 1px) solid hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.1);
        background-color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
        .navbar-brand {
            a {
                border: var(--border-width, 1px) solid hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0);
                color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
                &[aria-current="page"] {
                    background-color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.05);
                    border-bottom: var(--border-width, 1px) solid hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
                }
                &:hover {
                    color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
                    background-color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.1);
                    border: var(--border-width, 1px) solid hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
                }
            }
        }
        .navbar-nav { 
            a {
                &.nav-link {
                    color:  hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.7);
                    border: var(--border-width, 1px) solid hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0);
                    &.active {
                        background-color: hsla(var(--light-h), var(--light-s), var(--light-l), 0.05);
                        color:  hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
                        border-bottom: var(--border-width, 1px) solid hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
                    }
                    &:hover {
                        color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
                        background-color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.1);
                        border: var(--border-width, 1px) solid hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
                    }
                }
            }
        }
        .close {
            color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.7);
            &:hover {
                color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
            }
        }
        &::after{
            background: linear-gradient(270deg, hsla(var(--light-h), var(--light-s), var(--light-l), 1) 0%, hsla(var(--light-h), var(--light-s), var(--light-l), 0) 100%);
        }
    }

    &.dark {
        border-top: var(--border-width, 1px) solid hsla(var(--light-h), var(--light-s), var(--light-l), 0.2);
        border-bottom: var(--border-width, 1px) solid hsla(var(--light-h), var(--light-s), var(--light-l), 0.2);
        background-color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
        .navbar-brand {
            a {
                border: var(--border-width, 1px) solid hsla(var(--light-h), var(--light-s), var(--light-l), 0);
                color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
                &[aria-current="page"] {
                    background-color: hsla(var(--light-h), var(--light-s), var(--light-l), 0.1);
                    border-bottom: var(--border-width, 1px) solid hsla(var(--light-h), var(--light-s), var(--light-l), 1);
                }
                &:hover {
                    color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
                    background-color: hsla(var(--light-h), var(--light-s), var(--light-l), 0.3);
                    border: var(--border-width, 1px) solid hsla(var(--light-h), var(--light-s), var(--light-l), 1);
                }
            }
        }
        .navbar-nav { 
            a {
                &.nav-link {
                    color:  hsla(var(--light-h), var(--light-s), var(--light-l), 0.7);
                    border: var(--border-width, 1px) solid hsla(var(--light-h), var(--light-s), var(--light-l), 0);
                    &.active {
                        background-color: hsla(var(--light-h), var(--light-s), var(--light-l), 0.1);
                        color:  hsla(var(--light-h), var(--light-s), var(--light-l), 1);
                        border-bottom: var(--border-width, 1px) solid hsla(var(--light-h), var(--light-s), var(--light-l), 1);
                    }
                    &:hover {
                        color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
                        background-color: hsla(var(--light-h), var(--light-s), var(--light-l), 0.3);
                        border: var(--border-width, 1px) solid hsla(var(--light-h), var(--light-s), var(--light-l), 1);
                    }
                }
            }
        }
        .close {
            color: hsla(var(--light-h), var(--light-s), var(--light-l), 0.7);
            &:hover {
                color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
            }
        }
        &::after{
            background: linear-gradient(270deg, hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1) 0%, hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0) 100%);
        }
    }

    .navbar-nav {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &::after{
        content: '';
        height: 100px;
        width: 50px;
        z-index: 2;
        position: absolute;
        right: 0;
    }
    
    .navbar-brand {
        margin-right: 0px;
        a {
            font-weight: 400;
            padding: .5rem 1rem;
            &:hover {
                text-decoration: none;
            }
            &[aria-current="page"] {
                position: relative;
            }
        }
    }

    .navbar-nav {
        overflow: auto;
        white-space: nowrap;
        position: relative;
        .nav-item {
            display: flex;
            align-items: stretch;
            .nav-link {
                padding: .5rem 1rem;
                display: flex;
                align-items: center;
                &.active {
                    font-weight: 600;
                }
            }
            &:last-child{
                padding-right: 5rem;
            }
        }
    }
    .close {
        font-weight: 100;
    }

    &.sticky {
        position: sticky;
        top: 0;
        z-index: 10;
        min-height: 70px;
    }

}