@import "~include-media/dist/_include-media.scss";

.navlocal {

    &.light {
        
        .menubutton {
            a {
                &.btn {
                    color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.7);
                    &:hover {
                        color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
                    }
                    &.active {
                        color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
                    }
                }
            }
        }
    }

    &.dark {
        // Navbar
        .navbar-toggler {
            color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
            background-color: hsla(var(--light-h), var(--light-s), var(--light-l), 0.1);
            &.collapsed {
                color: hsla(var(--light-h), var(--light-s), var(--light-l), 0.7);
                background-color: transparent;
            }
        }
        // Root Items
        a.navitems,
        .navitems > a {
            color: hsla(var(--light-h), var(--light-s), var(--light-l), 0.7);
            &.active{
                color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
            }
        }
        a.navitems:hover,
        .navitems > a:hover,
        .navitems > a[aria-expanded="true"] {
            color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
        }
        .navitems > a[aria-expanded="true"] {
            background-color: hsla(var(--light-h), var(--light-s), var(--light-l), 0.1);
        }
        .menubutton {
            a {
                &.btn {
                    color: hsla(var(--light-h), var(--light-s), var(--light-l), 0.7);
                    &:hover {
                        color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
                    }
                    &.active {
                        color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
                    }
                }
            }
        }
        // Dropdowns
        .regularmenu {
            .dropdown-menu {
                .dropdown-item {
                    color: hsla(var(--light-h), var(--light-s), var(--light-l), 0.7);
                    &:hover {
                        color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
                        background-color: hsla(var(--light-h), var(--light-s), var(--light-l), 0.1);
                    }
                    &:focus {
                        color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
                        background-color: hsla(var(--light-h), var(--light-s), var(--light-l), 0.2);
                    }
                }
            }
        }
        .megamenu, 
        .regularmenu  {
            .dropdown-item{
                .active {
                    color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
                    background-color: hsla(var(--light-h), var(--light-s), var(--light-l), 0.2);
                }
            }
            .dropdown-menu {
                background-color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
                border: var(--border-width, 1px) solid hsla(var(--light-h), var(--light-s), var(--light-l), 0.3);
            }
            .dropdown-menu{
                .show {
                    color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
                    background-color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
                }
            }
            .navcontent {
                h6 {
                    color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
                }
                a {
                    color: hsla(var(--light-h), var(--light-s), var(--light-l), 0.7);
                    &:hover {
                        color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
                        background-color: hsla(var(--light-h), var(--light-s), var(--light-l), 0.1);
                    }
                    &:focus {
                        color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
                        background-color: hsla(var(--light-h), var(--light-s), var(--light-l), 0.2);
                    }
                }
            }
        }
    }

    /*
    * Navbar
    */
    &.navbar {
        padding: 0rem 1rem;
    }
    .navbar-toggler {
        transition: all 300ms ease;
        margin-right: 15px;
    }

    .navbar-toggler-icon{
        background: unset;
    }
    .wrapper {
        width: 100%;
        display: flex;
    }
    .navbrand {
        display: block;
        width: 100%;
        background-position: center center;
        background-size: contain;
        align-items: center;
        min-height: 50px;
        max-width: 200px;
        background-repeat: no-repeat;
        margin-right: 30px;
    }
    .mainnav {
        justify-content: flex-end;
    }
    .navbarmenu {
        height: 80px;
        position: initial;
        padding: initial;
        .button {
            margin: 0px 10px;
            &.nav-link{
                padding: 15px 25px;
            }
        }
        > .nav-link {
            text-align: center;
            display: flex;
            justify-content: center;
        }
    }
    /*
    * Root Item
    */
    a.navitems,
    .navitems > a {
        padding: 20px 30px !important;
        font-weight: 400;
        letter-spacing: 1px;
        transition: all 300ms ease;
        min-height: 80px;
        align-items: center;
        display: flex;
        &.active{
            font-weight: 900;
        }
    }

    /*
    * Dropdowns
    */
    .dropdown {
        position: initial;
        .dropdown-toggle{
            &:after{
                display: none;
            }
        }
    }
    .regularmenu {
        .dropdown-menu {
            left: unset;
            .dropdown-item {
                padding: .6rem 1.5rem;
                transition: all 300ms ease;
                letter-spacing: 1px;
                font-weight: 400;
            }
        }
    }
    .megamenu {
        .dropdown-menu.show {
            width: 100%;
        }
    }
    .megamenu, 
    .regularmenu  {
        h6 {
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 600;
            user-select: none;
        }
        .row {
            width: 100%;
            margin-left: initial;
            margin-left: initial;
        }
        .navcontent {
            padding: 3rem;
            .dropdown-item {
                padding: .6rem 1.5rem;
                transition: all 300ms ease;
                letter-spacing: 1px;
                font-weight: 400;
            }
        }
        .dropdown-menu{
            .show {
                border-radius: initial;
                border: none;
                padding: initial;
            }
        }
    }
    .menucta,
    .menubutton {
        display: flex;
        align-items: center;
        margin: 20px;
        .button {
            margin: unset;
        }
        a {
            width: 100%;
        }
    }
    // TODO: Refactor
    .mobileonly {
        display: none !important;
    }

}

@include media("≥phone", "<850px") {
    .navlocal {
        .navbarmenu {
            height: auto;
        }
        .navbar-collapse {
            background-color:  rgba(var(--color-six-dark-shade-three),1);
        }
        a.navitems:hover,
        .navitems > a:hover,
        .navitems > a[aria-expanded="true"] {
            background-color: var(--color-five-dark-shade-one) !important;
        }
        .megamenu, .regularmenu {
            h6 {
                padding: 2rem 1.5rem 0.5rem 1.5rem;
            }
            .dropdown-menu.show{
                background-color: var(--color-six-dark-shade-two) !important;
            }
            .navcontent {
                padding: 0rem;
            }
            > .nav-link {
                border-bottom: 1px solid rgba(var(--color-white),0.05);
                justify-content: center;
            }
        }
        .dropdown-item {
            border-bottom: 1px solid rgba(var(--color-white),0.05);
        }
        .mobileonly {
            display: block !important;
        }
    }
}