
.menuSticky {
    background-color: rgba(var(--color-six-dark-shade-three),1);
    min-height: 70px;
    position: sticky;
    top: 0;
    
    .items {
        display: grid;
        grid-template-columns: max-content 1fr;
        grid-template-rows: 1fr auto;
        align-items: center;

        .navbar {
            a {
                margin: 0 10px;
                padding: 10px;
                text-transform: uppercase;
                font-weight: 600;
                letter-spacing: 1px;
                text-decoration: none;
                color: var(--color-six-shade-three);

                &:hover {
                    color: rgba(var(--color-white),1);
                }
                &:active {
                    color: rgba(var(--color-white),1);
                }
                
            }
        }
    }
    .cta {
        /* grid-area: cta; */
        display: flex;
        justify-self: end;
        .btn {
            margin: 0px;
        }
    }
    
}

// @media (max-width: 767px) {
//     .menuSticky {
//         position: relative;
//         top: unset;
//     }

// }