.accordionIndicator {
    .card {
        .card-header {
            padding: .75rem 45px .75rem 1.25rem;
            span {
                padding: 10px;
                border-radius: 100px;
                background-color: var(--color-five-shade-two);
                display: flex;
                color: rgba(var(--color-white),1);
                position: absolute;
                right: 10px;
                width: 30px;
                height: 30px;
                line-height: 9px;
                top: 10px;
                justify-content: center;
                transition: all 300ms ease;

                &:hover {
                    background-color: var(--color-five);
                }
            }
        }
    }
    &.accordion {
        margin: 0px auto;
        ul {
            li {
                display: block;
                &:before {
                    content: "○";
                    font-size: 9px;
                    float: left;
                    margin-top: 4px;
                    margin-left: -17px;
                }
            }
        }
        .card  {
            .card-header {
                background-color: transparent;
                font-weight: 600;
            }
        }
    }
    .btn {
        padding: 0px;
        color: rgba(var(--color-black),1);
        letter-spacing: 1px;
        text-transform: initial;
        font-weight: 900;
        text-decoration: none;
        &:hover {
            box-shadow: none;
        }
    }

}

/* Accordion Plus Minus Icon  */
.c-accordion .panel-title > a:before {
    float: right !important;
    font-family: FontAwesome;
    content:"\f068";
    padding-right: 5px;
}
.c-accordion .panel-title > a.collapsed:before {
    float: right !important;
    content:"\f067";
}
.c-accordion .panel-title > a:hover, 
.c-accordion .panel-title > a:active, 
.c-accordion .panel-title > a:focus  {
    text-decoration:none;
}

/* Accordion with Arrow to Right */
.accordion.c-accordion--arrow .accordion-header {
    padding: 10px 20px;
    border-radius: 5px;
}
.accordion.c-accordion--arrow .accordion-header .btn {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    width: 90%;
    text-align: left;
    font-weight: 900;
    color: rgba(var(--color-black),1);
    text-transform: initial;
    letter-spacing: 1px;
}
.accordion.c-accordion--arrow .accordion-header .btn:hover{
    box-shadow: none;
}
.accordion.c-accordion--arrow .accordion-header:after {
    width: 28px;
    height: 28px;
    padding: 5px;
    margin-right: 20px;
    border-radius: 50%;
    color: rgba(var(--color-white),1);
    background-color: var(--color-five);
    content: url('../../assets/img/global/arrow_icon_white.svg');
    float: left;
    transform: rotate(360deg);
    transition: all 400ms ease;
}
.accordion.c-accordion--arrow .accordion-header.collapsed:after {
    transform: rotate(270deg);
}