@import "../../../node_modules/include-media/dist/_include-media.scss";

.toolbarDetails{
    margin-top: 0px;
    background-color: rgba(var(--color-six-dark-shade-three),1);
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    > .toolbarContainer {
        max-width: var(--max-layout-width);
        margin: 0px auto;
    }
}

@include media("<desktop") {
    
}

@include media("<=tablet") {

}

@include media("<=phone") {

}