@import "../../../node_modules/include-media/dist/_include-media.scss";

.toolbarDetails{
    margin-top: 0px;

    > .toolbarContainer {
        max-width: var(--max-layout-width);
        margin: 0px auto;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &.light {
        background-color: white;
        border-top: 1px solid rgba(255,255,255,0.1);
        border-bottom: 1px solid rgba(255,255,255,0.1);
    }

    &.dark {
        background-color: rgba(var(--color-six-dark-shade-three),1);
        border-top: 1px solid rgba(255,255,255,0.1);
        border-bottom: 1px solid rgba(255,255,255,0.1);
    }
}

@include media("<desktop") {
    
}

@include media("<=tablet") {

}

@include media("<=phone") {

}