@import "~include-media/dist/_include-media.scss";

.toolbarDetails{
    margin-top: 0px;
    position: relative;
    z-index: 1;
    
    &.light {
        background-color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
        border-top: var(--border-width, 1px) solid hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.1);
        border-bottom: var(--border-width, 1px) solid hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.1);
    }

    &.dark {
        background-color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
        border-top: var(--border-width, 1px) solid hsla(var(--light-h), var(--light-s), var(--light-l), 0.1);
        border-bottom: var(--border-width, 1px) solid hsla(var(--light-h), var(--light-s), var(--light-l), 0.1);
    }

    >.buttons {
        display: flex;
        align-items: center;
        gap: 10px;
    }

}

@include media("<desktop") {
}

@include media("<=tablet") {
    .toolbarDetails{
        &.sticky-mobile {
            position: sticky;
            top: 219px;
            z-index: 10;
        }
    }
}

@include media("<=phone") {

}