.sectionSteps {

    .steps {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        grid-gap: 30px;
        .step {
            margin-top: 50px;
            .number{
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: var(--color-one);
                color: rgba(var(--color-white),1);
                border-radius: 50%;
                width: 80px;
                height: 80px;
                position: absolute;
                margin-top: -35px;
                margin-left: 40%;
            }
        }
    }
    
}