@import "~include-media/dist/_include-media.scss";

.sectionTextPhoto {
    overflow-x: hidden;

    &.light {
        background-color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
        .title {
            color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
        }
        .subtitle {
            color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
        }
        p {
            color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
        }
        a {
            color: hsla(var(--primary-h), var(--primary-s), var(--primary-l), 0.7);
            &:hover {
                color: hsla(var(--primary-h), var(--primary-s), var(--primary-l), 1);
            }
        }
    }

    &.dark {
        background-color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
        .title {
            color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
        }
        .subtitle {
            color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
        }
        p {
            color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
        }
        a {
            color: hsla(var(--primary-h), var(--primary-s), var(--primary-l), 0.7);
            &:hover {
                color: hsla(var(--primary-h), var(--primary-s), var(--primary-l), 1);
            }
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem 3rem;
        .subtitle {
            font-weight: 400;
        }
        p {
            margin-top: 1rem;
            opacity: 0.7;
        }
    }
    .photo {
        min-height: 420px;
        clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 15% 100%);
    }

}

@include media("<tablet") {
    .sectionTextPhoto {
        padding: 4rem 0px;
        .photo {
            display: none;
        }
    }
}