
.c-faq{

    .c-faq__questions {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }

    .c-faq__question {
        margin-top: 20px;
    }
    
    .container {
        max-width: 550px;
    }
}