@import "~include-media/dist/_include-media.scss";

.socialNetworkList {
    display: flex;
    gap: 5px;

    &.light {
        .btn {
            &.btn-light {
                background-color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0);
                border: var(--border-width, 1px) solid hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0);
                &:hover {
                    background-color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.3);
                    border: var(--border-width, 1px) solid hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
                }
            }
        }
    }

    &.dark {
        .btn {
            &.btn-dark {
                background-color: hsla(var(--light-h), var(--light-s), var(--light-l), 0);
                border: var(--border-width, 1px) solid hsla(var(--light-h), var(--light-s), var(--light-l), 0);
                &:hover {
                    background-color: hsla(var(--light-h), var(--light-s), var(--light-l), 0.3);
                    border: var(--border-width, 1px) solid hsla(var(--light-h), var(--light-s), var(--light-l), 1);
                }
            }
        }
    }

    > .btn {
        border: none;
        width: 45px;
        height: 45px;
        padding: 10px;
        border-radius: 100%;
        &:hover {
            border-radius: 100%;
        }
    }

}