.menuAuth {
    position: relative;
    width: 30px;
    height: 44px;
    padding: 5px 0;
    margin: 0 5px;
    order: 100;

    &.light {
        a {
            color: hsla(var(--dark-h),var(--dark-s),var(--dark-l),0.7);
            &:hover {
                color: hsla(var(--dark-h),var(--dark-s),var(--dark-l),1);
            }
        }
    }

    &.dark {
        a {
            color: hsla(var(--light-h),var(--light-s),var(--light-l),0.7);
            &:hover {
                color: hsla(var(--light-h),var(--light-s),var(--light-l),1);
            }
        }
    }

    a {
        display: block;
        .loginIcon {
            width: 1em;
            margin: 0.3em;
            pointer-events: none;
        }
    }

}