.menuAuth {
    position: relative;
    width: 30px;
    height: 44px;
    padding: 5px 0;
    margin: 0 5px;
    order: 100;
    a {
        display: block;
        .loginIcon {
            width: 1em;
            margin: 0.3em;
            color: #ADA1b6;
            pointer-events: none;
        }
    }
}