@import "~include-media/dist/_include-media.scss";

.playlistDetails {
    padding: 1rem 0;
    position: relative;

    &.light {
        border-top: var(--border-width, 1px) solid hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.3);
        .container,
        .container-fluid {
            .player {
                background-color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
            }
            .vjs-poster {
                background-color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
            }
        }
        .background {
            &:after{
                background: linear-gradient(180deg, hsla(var(--light-h), var(--light-s), var(--light-l), 0) 0%, hsla(var(--light-h), var(--light-s), var(--light-l), 0.5) 50%, hsla(var(--light-h), var(--light-s), var(--light-l), 1) 100%);
            }
            > .overlay {
                background: hsla(var(--light-h), var(--light-s), var(--light-l), 0.7);
            }
        }
    }

    &.dark {
        border-top: var(--border-width, 1px) solid hsla(var(--light-h), var(--light-s), var(--light-l), 0.3);
        .container,
        .container-fluid {
            .player {
                background-color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
            }
            .vjs-poster {
                background-color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
            }
        }
        .background {
            &:after{
                background: linear-gradient(180deg, hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0) 0%, hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.5) 50%, hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1) 100%);
            }
            > .overlay {
                background: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.3);
            }
        }
    }

    .player {
      display: flex;
      justify-content: center;
      min-height: 200px;
      .player-wrapper{
          width: 100%;
      }
    }

    .container,
    .container-fluid {
        max-width: unset;
        margin: 0px auto;
        position: relative;
        z-index: 1;

        &.playlist-grid {
            display: grid;
            grid-template-columns: 1fr 0.5fr;
            grid-template-rows: auto;
            
        }
    }
    .background {
        position: absolute;
        top: 0px;
        z-index: 0;
        width: 100%;
        height: 100%;

        &:after{
            content: '';
            position: absolute;
            width: 100%;
            height: 30%;
            bottom: 0;
        }

        > .overlay {
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
        }

        > .poster {
            position: relative;
            height: 100%;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

}

@include media(">tablet", "<desktop") {

    .playlistDetails {

        .container,
        .container-fluid {
            max-height: unset;
            grid-template-columns: 1fr !important;

            div[data-vjs-player],
            .video-js {
                height: unset;
                padding-top: 56.25%;
                min-height: unset;
                height: 520px;
            }
        }
    }

}

@include media(">phone", "<=tablet") {

    .playlistDetails {
        padding: 0px;
        .container,
        .container-fluid {
            max-height: unset;
            grid-template-columns: 1fr !important;
            margin-bottom: 0px !important;
            padding: 0px !important;
            div[data-vjs-player],
            .video-js {
                padding-top: 56.25%;
                height: 220px;
            }
            .player {
                &.scrolled{
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    z-index: 10;
                    height: 220px;
                }
            }
        }
    }

}

/*
 * General Breakpoints
 */
@include media("<desktop") {
    .playlist {
        .sidebarFeedVod {
            display: none;
        }
        .modalPlaylist {
            display: block;
        }
    }
}

@include media("<=tablet") {
}

@include media("<tablet") {
}

@include media("<=phone", "portrait") {
    .playlistDetails {
        padding: 0px !important;
        .container,
        .container-fluid {
            max-height: unset;
            padding: 0px !important;
            grid-template-columns: 1fr !important;
            margin-bottom: 0px !important;
        }
    }
}
