.alertdismissiblebar {
    background-color: var(--color-six);

    .alert-dismissible {
        margin-bottom: 0px;
        padding: 30px;
        border-radius: unset;
        background-color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
        color: var(--color-four);
        border: unset;

        a {
            font-weight: 900;
            text-decoration: underline;
        }
        p {
            margin-bottom: 0px;
        }

        .close {
            color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
            top: 17px;
            right: 17px;
            margin: auto;
        }
    }
}