@import "~include-media/dist/_include-media.scss";

.sectionBlurbs {
    .items {
        margin-top: var(--padding-top);
        flex-flow: row wrap;
        > div {
            width: 100%;
            flex-basis: 20%;
            box-sizing: border-box;
            position: relative;
            flex-grow: 1;
        }
    }
}

@include media("<desktop") {
    .sectionBlurbs {
        .items {
            > div {
            }
        }
    }
}

@include media("<=tablet") {
}

@include media("<tablet") {
    .sectionBlurbs {
        .items {
            flex-direction: column !important;
            gap: 3rem !important;
            > div {
                max-width: unset;
                width: 100%;
            }
        }
    }
}

@include media("<=phone") {
}

