/*
 * @author Wick
 * @src https://blog.wick.technology/runtime-dynamic-bootstrap-theme/
 */

// functions and mixins first
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/mixins';

// override bootstrap functions to comply with --vars
@import 'functions-override';

// Override Boostrap variables
@import 'bootstrap-variables';

// Import Bootstrap source files from node_modules
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import 'navbar-override';
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/jumbotron";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/media";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/toasts";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/print";

@import '~include-media/dist/_include-media.scss';
@import '~@fortawesome/fontawesome-svg-core/styles';

/* 
 * Bootstrap Rewrites
 */

    /* 
    * Utilities
    */

    /* Spacing */
    .mb-0, .my-0 { margin-bottom: 0 !important; }
        
    .ml-0, .mx-0 { margin-left: 0 !important; }

    .m-1 { margin: calc(var(--spacer) * 0.25) !important; }

    .mt-1, .my-1 { margin-top: calc(var(--spacer) * 0.25) !important; }

    .mr-1, .mx-1 {  margin-right: calc(var(--spacer) * 0.25) !important; }

    .mb-1, .my-1 { margin-bottom: calc(var(--spacer) * 0.25) !important; }

    .ml-1, .mx-1 { margin-left: calc(var(--spacer) * 0.25) !important; }

    .m-2 { margin: calc(var(--spacer) * 0.5) !important; }

    .mt-2, .my-2 { margin-top: calc(var(--spacer) * 0.5) !important; }

    .mr-2, .mx-2 { margin-right: calc(var(--spacer) * 0.5) !important; }

    .mb-2, .my-2 { margin-bottom: calc(var(--spacer) * 0.5) !important; }

    .ml-2, .mx-2 { margin-left: calc(var(--spacer) * 0.5) !important; }

    .m-3 { margin: calc(var(--spacer) * 1) !important; }

    .mt-3, .my-3 { margin-top: calc(var(--spacer) * 1) !important; }

    .mr-3, .mx-3 {  margin-right: calc(var(--spacer) * 1) !important; }

    .mb-3, .my-3 { margin-bottom: calc(var(--spacer) * 1) !important; }

    .ml-3, .mx-3 { margin-left: calc(var(--spacer) * 1) !important; }

    .m-4 { margin: calc(var(--spacer) * 1.5) !important; }

    .mt-4, .my-4 { margin-top: calc(var(--spacer) * 1.5) !important; }

    .mr-4, .mx-4 { margin-right: calc(var(--spacer) * 1.5) !important; }

    .mb-4, .my-4 { margin-bottom: calc(var(--spacer) * 1.5) !important; }

    .ml-4, .mx-4 { margin-left: calc(var(--spacer) * 1.5) !important; }

    .m-5 { margin: calc(var(--spacer) * 3) !important; }

    .mt-5, .my-5 { margin-top: calc(var(--spacer) * 3) !important; }

    .mr-5, .mx-5 { margin-right: calc(var(--spacer) * 3) !important; }

    .mb-5, .my-5 { margin-bottom: calc(var(--spacer) * 3) !important; }

    .ml-5, .mx-5 { margin-left: calc(var(--spacer) * 3) !important; }

    .p-0 { padding: 0 !important; }

    .pt-0, .py-0 { padding-top: 0 !important; }

    .pr-0, .px-0 { padding-right: 0 !important; }

    .pb-0, .py-0 { padding-bottom: 0 !important; }

    .pl-0, .px-0 { padding-left: 0 !important; }

    .p-1 { padding: calc(var(--spacer) * 0.25) !important; }

    .pt-1, .py-1 { padding-top: calc(var(--spacer) * 0.25) !important; }

    .pr-1, .px-1 { padding-right: calc(var(--spacer) * 0.25) !important; }

    .pb-1, .py-1 { padding-bottom: calc(var(--spacer) * 0.25) !important; }

    .pl-1, .px-1 { padding-left: calc(var(--spacer) * 0.25) !important; }

    .p-2 { padding: calc(var(--spacer) * 0.5) !important; }

    .pt-2, .py-2 { padding-top: calc(var(--spacer) * 0.5) !important; }

    .pr-2, .px-2 { padding-right: calc(var(--spacer) * 0.5) !important; }

    .pb-2, .py-2 { padding-bottom: calc(var(--spacer) * 0.5) !important; }

    .pl-2, .px-2 { padding-left: calc(var(--spacer) * 0.5) !important; }

    .p-3 { padding: calc(var(--spacer) * 1) !important; }

    .pt-3, .py-3 { padding-top: calc(var(--spacer) * 1) !important; }

    .pr-3, .px-3 { padding-right: calc(var(--spacer) * 1) !important; }

    .pb-3, .py-3 { padding-bottom: calc(var(--spacer) * 1) !important; }

    .pl-3, .px-3 { padding-left: calc(var(--spacer) * 1) !important; }

    .p-4 { padding: calc(var(--spacer) * 1.5) !important; }

    .pt-4, .py-4 { padding-top: calc(var(--spacer) * 1.5) !important; }

    .pr-4, .px-4 { padding-right: calc(var(--spacer) * 1.5) !important; }

    .pb-4, .py-4 { padding-bottom: calc(var(--spacer) * 1.5) !important; }

    .pl-4, .px-4 { padding-left: calc(var(--spacer) * 1.5) !important; }

    .p-5 { padding: calc(var(--spacer) * 3) !important; }

    .pt-5, .py-5 { padding-top: calc(var(--spacer) * 3) !important; }

    .pr-5, .px-5 { padding-right: calc(var(--spacer) * 3) !important; }

    .pb-5, .py-5 { padding-bottom: calc(var(--spacer) * 3) !important; }

    .pl-5, .px-5 { padding-left: calc(var(--spacer) * 3) !important; }

    .m-n1 { margin: calc(var(--spacer) * 0.25) !important; }

    .mt-n1, .my-n1 { margin-top: calc(var(--spacer) * 0.25) !important; }

    .mr-n1, .mx-n1 { margin-right: calc(var(--spacer) * 0.25) !important; }

    .mb-n1, .my-n1 { margin-bottom: calc(var(--spacer) * 0.25) !important; }

    .ml-n1, .mx-n1 { margin-left: calc(var(--spacer) * 0.25) !important; }

    .m-n2 { margin: calc(var(--spacer) * 0.5) !important; }

    .mt-n2, .my-n2 { margin-top: calc(var(--spacer) * 0.5) !important; }

    .mr-n2, .mx-n2 { margin-right: calc(var(--spacer) * 0.5) !important; }

    .mb-n2, .my-n2 { margin-bottom: calc(var(--spacer) * 0.5) !important; }

    .ml-n2, .mx-n2 { margin-left: calc(var(--spacer) * 0.5) !important; }

    .m-n3 { margin: calc(var(--spacer) * 1) !important; }

    .mt-n3, .my-n3 { margin-top: calc(var(--spacer) * 1) !important; }

    .mr-n3, .mx-n3 { margin-right: calc(var(--spacer) * 1) !important; }

    .mb-n3, .my-n3 { margin-bottom: calc(var(--spacer) * 1) !important; }

    .ml-n3, .mx-n3 { margin-left: calc(var(--spacer) * 1) !important; }

    .m-n4 { margin: calc(var(--spacer) * 1.5) !important; }

    .mt-n4, .my-n4 { margin-top: calc(var(--spacer) * 1.5) !important; }

    .mr-n4, .mx-n4 { margin-right: calc(var(--spacer) * 1.5) !important; }

    .mb-n4, .my-n4 { margin-bottom: calc(var(--spacer) * 1.5) !important; }

    .ml-n4, .mx-n4 { margin-left: calc(var(--spacer) * 1.5) !important; }

    .m-n5 { margin: calc(var(--spacer) * 3) !important; }

    .mt-n5, .my-n5 { margin-top: calc(var(--spacer) * 3) !important; }

    .mr-n5, .mx-n5 { margin-right: calc(var(--spacer) * 3) !important; }

    .mb-n5, .my-n5 { margin-bottom: calc(var(--spacer) * 3) !important; }

    .ml-n5, .mx-n5 { margin-left: calc(var(--spacer) * 3) !important; }

    /* 
    * Container max widths
    */
    
    .container,
    .container-fluid,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto; 
    }

    @media (min-width: 576px) {
        .container, .container-sm { max-width: var(--width-sm) !important; } }

    @media (min-width: 768px) {
        .container, .container-sm, .container-md { max-width: var(--width-md) !important; } }

    @media (min-width: 992px) {
        .container, .container-sm, .container-md, .container-lg { max-width: var(--width-lg) !important; } }

    @media (min-width: 1200px) { 
        .container, .container-sm, .container-md, .container-lg, .container-xl { max-width: var(--width-xl) !important; } }

    .container-sm-dark {
        background-color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
        >.columns{
            max-width: var(--width-sm) !important;
        }
    }

    /*
    * Border
    */
    .border-none {
        border: none !important;
    }

/*
 * App Classes
 */
/* Tabs */
    .nav-tabs {

        &.light {
            border-bottom:  var(--border-width, 1px) solid hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.1);
            margin-bottom: 2rem;
            .nav-link {
                color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
                font-weight: 100;
                &.active {
                    background-color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.01);
                    color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
                    font-weight: 600;
                    border-top: var(--border-width, 1px) solid hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.1);
                    border-right: var(--border-width, 1px) solid hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.1);
                    border-bottom: var(--border-width, 1px) solid hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
                    border-left: var(--border-width, 1px) solid hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.1);
                }
                &:hover {
                    background-color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.1);
                    border-top: var(--border-width, 1px) solid hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.3);
                    border-right: var(--border-width, 1px) solid hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.3);
                    border-bottom: var(--border-width, 1px) solid hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
                    border-left: var(--border-width, 1px) solid hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.3);
                }
            }
        }
    
        &.dark {
            border-bottom:  var(--border-width, 1px) solid hsla(var(--light-h), var(--light-s), var(--light-l), 0.1);
            margin-bottom: 2rem;
            .nav-link {
                color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
                font-weight: 100;
                &.active {
                    background-color: hsla(var(--light-h), var(--light-s), var(--light-l), 0.1);
                    color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
                    font-weight: 600;
                    border-top: var(--border-width, 1px) solid hsla(var(--light-h), var(--light-s), var(--light-l), 0.1);
                    border-right: var(--border-width, 1px) solid hsla(var(--light-h), var(--light-s), var(--light-l), 0.1);
                    border-bottom: var(--border-width, 1px) solid hsla(var(--light-h), var(--light-s), var(--light-l), 1);
                    border-left: var(--border-width, 1px) solid hsla(var(--light-h), var(--light-s), var(--light-l), 0.1);
                }
                &:hover {
                    background-color: hsla(var(--light-h), var(--light-s), var(--light-l), 0.3);
                    border-top: var(--border-width, 1px) solid hsla(var(--light-h), var(--light-s), var(--light-l), 0.3);
                    border-right: var(--border-width, 1px) solid hsla(var(--light-h), var(--light-s), var(--light-l), 0.3);
                    border-bottom: var(--border-width, 1px) solid hsla(var(--light-h), var(--light-s), var(--light-l), 1);
                    border-left: var(--border-width, 1px) solid hsla(var(--light-h), var(--light-s), var(--light-l), 0.3);
                }
            }
        }
        > .tab-pane {
            padding: 3rem 0;
        }
    }

    /*
     * General
     */
    a {
        transition: var(--transition-regular);
        text-decoration: none;
    }
    section {
        position: relative;
    }

    a:hover {
        color: hsla(var(--primary-h), var(--primary-s), var(--primary-l), 1)
    }

    /*
     * Utilities
     */
    .container-max-sm,
    .container-max-md,
    .container-max-lg,
    .container-max-xl {
        margin: 0px auto;
        display: block;
    }
    .container-max-sm {
        max-width: var(--container-max-sm);
    }
    .container-max-md {
        max-width: var(--container-max-md);
    }
    .container-max-lg {
        max-width: var(--container-max-lg);
    }
    .container-max-xl {
        max-width: var(--container-max-xl);
    }

    .noselect,
    .user-select-none  {
        -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
                -moz-user-select: none; /* Old versions of Firefox */
                -ms-user-select: none; /* Internet Explorer/Edge */
                    user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome, Edge, Opera and Firefox */
    }

    .opacity-0 {
        opacity: 0;
    }
    
    .opacity-20 {
        opacity: 0.20;
    }
    
    .opacity-40 {
        opacity: 0.40;
    }
    
    .opacity-60 {
        opacity: 0.60;
    }
    
    .opacity-80 {
        opacity: .80;
    }
    
    .opacity-100 {
        opacity: 1;
    }
    
    .z-index-0 {
        z-index: 0 !important;
    }
    
    .z-index-1 {
        z-index: 1;
    }
    
    .z-index-2 {
        z-index: 2;
    }
    
    .z-index-3 {
        z-index: 3;
    }
    
    .z-index-4 {
        z-index: 4;
    }
    
    .z-index-5 {
        z-index: 5;
    }

    .h-scroll-horizontal {
        overflow-x: auto;
        /* for horizontal scroll bar */
        overflow-y: hidden;
    }

    .disable-scrollbars {
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none;  /* IE 10+ */
        &::-webkit-scrollbar {
        width: 0px;
        background: transparent; /* Chrome/Safari/Webkit */
        }
    }

    /*
     * Blog Posts
     */
    article {
        h1, h2, h3, h4, h5 {
            font-weight: 500;
        }
        h1{
            font-size: 3rem;
            line-height: 3rem;
            margin-bottom: 1rem;
        }
        h2{
            font-size: 2.5rem;
            line-height: 2.5rem;
            margin-bottom: 1rem;
        }
        > p, > ol, > ul {
            margin: 2rem auto;
            font-size: 21px;
            line-height: 32px;
        }
        blockquote {
            margin: 20px auto;
            max-width: 800px;
            p {
                font-size: 2rem;
                font-style: italic;
            }
            cite {
                font-style: normal;
            }
        }
    }

    hr {
        margin-top: 0rem;
        margin-bottom: 0rem;

        &.dark{
            border-top: 1px solid rgba(hsla(var(--light-h), var(--light-s), var(--light-l), 1),0.2);
            background-color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
            padding-bottom: 0rem;
        }
    }

    /*
     * Image on section utils
     */
    section {
        &.img-clip-desc {
            .media {
                &.right {
                    clip-path: polygon(0 0,100% 0,100% 100%,15% 100%);
                }
                &.left {
                    clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
                }
            }
        }
        &.img-clip-asc {
            .media {
                &.right {
                    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
                }
                &.left {
                    clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
                }
            }
        }
    }
    
    /*
     * Text Utils
     */
    .light {
        .text-outline {
                color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
                text-shadow: -1px -1px 0 hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1),
                            1px -1px 0 hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1),
                            -1px 1px 0 hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1),
                            1px 1px 0 hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
        }
    }
    .dark {
        .text-outline {
            color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
            text-shadow: -1px -1px 0 hsla(var(--light-h), var(--light-s), var(--light-l), 1),
                        1px -1px 0 hsla(var(--light-h), var(--light-s), var(--light-l), 1),
                        -1px 1px 0 hsla(var(--light-h), var(--light-s), var(--light-l), 1),
                        1px 1px 0 hsla(var(--light-h), var(--light-s), var(--light-l), 1);
        }
    }

    /*
     * Spacing
     */
    
    section {
        &.sm {
            padding-top: calc(var(--spacer) * 0.5);
            padding-bottom: calc(var(--spacer) * 0.5);
        }
        &.md {
            padding-top: calc(var(--spacer) * 1);
            padding-bottom: calc(var(--spacer) * 1);
        }
        &.xl {
            padding-top: calc(var(--spacer) * 2);
            padding-bottom: calc(var(--spacer) * 2);
        }
        &.none {
            padding-top: 0rem;
            padding-bottom: 0rem;
        }
    }

    .hero {
        &.sm {
            min-height: 200px;
            padding-top: calc(var(--spacer) * 0.5);
            padding-bottom: calc(var(--spacer) * 0.5);
        }
        &.md {
            min-height: 400px;
            padding-top: calc(var(--spacer) * 1);
            padding-bottom: calc(var(--spacer) * 1);
        }
        &.xl {
            min-height: 600px;
            max-height: 100vh;
            padding-top: calc(var(--spacer) * 2);
            padding-bottom: calc(var(--spacer) * 2);
        }
        &.none {
            padding: 0rem;
        }
    }

    .jumbotron {
        &.sm {
            padding: 5rem;
        }

        &.md {
            padding: 10rem;
        }

        &.xl {
            padding: 20rem;
        }
        &.none {
            padding: 0rem;
        }
    }

    .leftColumn {
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    .rightColumn {
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    /*
     * Footer Placing
     * Align footer always to the bottom of the page
     */
    body {
        > div {
            > div{
                > main {
                    min-height: 100vh;
                    display: flex;
                    flex-direction: column;
                }
            }
        }
        footer {
            margin-top: auto;
        }
    }

    /* 
     * Image Aspect Ratio 
     */
    .aspect-ratio-16_9 {
        padding-top: 56.9%;
        position: relative;
        width: 100%;
        height: 0px;
        aspect-ratio: 16 / 9;
    }
    .aspect-ratio-4_9 {
        padding-top: 44.44%;
        position: relative;
        width: 100%;
        height: 0px;
        aspect-ratio: 4 / 9;
    }
    .aspect-ratio-1_1 {
        position: relative;
        width: 100%;
        aspect-ratio: 1 / 1;
        &:after{
            content: '';
            display: block;
            // padding-bottom: 100%;
        }
    }
    .aspect-ratio-9_16 {
        padding-top: 177%;
        position: relative;
        width: 100%;
        height: 0px;
        aspect-ratio: 9 / 16;
    }

/*
* Components: General
*/

    /*
     * Light/Dark mode
     */
    html {
        &.light {
            body {
                background-color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
            }
        }
        &.dark {
            body {
                background-color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
            }
        }
    }
    section {
        &.light {
            background-color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
            &.nested {
                background-color: transparent;
            }
            .container, .container-fluid {
                color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
            }
        }
        &.dark {
            background-color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
            &.nested {
                background-color: transparent;
            }
            .container, .container-fluid {
                color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
            }
        }
    }

    /*
     * Section Layout
     */
    section {
        position: relative;
        > .columns {
            z-index: 1;
            position: relative
        }
        > .background {
            z-index: 0;
        }
        .container,
        .container-fluid {
            z-index: 1;
            position: relative;
            .general {
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100%;
                padding: 2rem 0px;
            }
        }
        /*
         * Nested Components
         */
        section {
            &.nested {
                .container, 
                .container-fluid {
                    min-height: unset !important;
                    max-width: unset !important;
                    padding-right: unset !important;
                    padding-left: unset !important;
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                }
            }
        }
    }

    .pagination {
        &.dark {
            > li {
                > a {
                    background-color: hsla(var(--dark-h), var(--light-s), var(--dark-l), 0.1);
                    color: hsla(var(--light-h), var(--light-s), var(--light-l), 0.7);
                    border-color: hsla(var(--light-h), var(--light-s), var(--light-l), 0.3);
                    &:focus {
                        color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
                        background-color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
                        border-color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
                    }
                    &:hover {
                        color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
                        background-color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
                        border-color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
                    }
                }
                > span {
                    &:focus {
                        color: hsla(var(--light-h), var(--light-s), var(--light-l), 0.7);
                        background-color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
                        border-color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
                    }
                    &:hover {
                        color: hsla(var(--light-h), var(--light-s), var(--light-l), 0.7);
                        background-color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
                        border-color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
                    }
                }
            }
            >.active {
                >a {
                    font-weight: bold;
                    color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
                    background-color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1) !important;
                    border: solid 1px hsla(var(--light-h), var(--light-s), var(--light-l), 1) !important;
                    &:hover {
                        background-color: #5A4181 !important;
                        border: solid 1px #5A4181;
                    }
                }
            }
            >.disabled {
                >a {
                    color: hsla(var(--light-h), var(--light-s), var(--light-l), 0.5);
                    background-color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.1) !important;
                    border: solid 1px hsla(var(--light-h), var(--light-s), var(--light-l), .1) !important;
                }
            }
        }
    }
    
    .stretched-link {
        &.hide {
            width: 0;
            height: 0;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0,0,0,0);
            border: 0;
            &:active,
            &:focus,
            &:active:focus {
                border: 0;
                box-shadow: unset;
            }
        }
    }

    /*
    * Modal
    */
    .modal {
        &.transparent  {
            >.modal-dialog {
                >.modal-content {
                    border: unset;
                    background-color: transparent;
                    border-radius: unset;
                    >.modal-header {
                        border-bottom: unset;
                        border-radius: unset;
                        >.close {
                            color: white;
                        }
                    }
                }
            }
        }
        &.frameless {
            >.modal-dialog {
                >.modal-content {
                    >.modal-header {
                        padding: unset;
                    }
                }
            }
    
        }
    }

/*
 * Responsive
 */
    /* Mobile */
    .mobile-only {
        display: none;
    }

/*
 * Live Icon
 */
span.live-icon{
    display: inline-block;
    position: relative;
    background-color: red;
    width: 10px;
    height: 10px;
    margin-left: 20px;
    border: 1px solid rgba(black, .1);
    border-radius: 50%;
    z-index: 1;
    &:before {
        content: '';
        display: block;
        position: absolute;
        background-color: rgba(red,.6);
        width: 100%;
        height: 100%;
        border-radius: 50%;
        animation: live 2s ease-in-out infinite;
        z-index: -1;
    }
}
@keyframes live {
    0% {
        transform: scale(1,1);
    }
    100% {
        transform: scale(3.5,3.5);
        background-color: rgba(red,0);
    }
}

/* 
 * React-player 
 */
.player-container {
    .react-player__preview {
        background-color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
        .react-player__shadow {
            position: absolute;
        }
        &::after {
            padding-top: 56.9%;
            position: relative;
            width: 100%;
            height: 0px;
            content: ' ';
        }
    }
    .react-player {
        video {
            background-color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
        }
    }
}

/* 
* Bootstrap
*/

/* Pagination */
.page-item{

    &.active {
        .page-link {
            z-index: 3;
            color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
            background-color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
            border-color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.1);
        }
    }

    .page-link {
        position: relative;
        display: block;
        padding: .5rem .75rem;
        margin-left: -1px;
        line-height: 1.25;
        color: var(--color-one);
        background-color: #fff;
        border: 1px solid #dee2e6;
        &:hover {
            z-index: 2;
            color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
            text-decoration: none;
            background-color: #e9ecef;
            border-color: #dee2e6;
        }
    }
}

/*******************************************************
 * Wordpress code
 *******************************************************/
img.wp-post-image,
article img,
figure,
#secondary img {
    margin-bottom: 10px; 
}

.wp-caption-text {
    margin-bottom: 10px; 
}

figcaption {
    caption-side: top; 
}

.widget-area aside {
    padding-bottom: 10px;
    padding-top: 10px; 
}

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
    max-width: 100%;
    height: auto; 
}

#page {
    word-wrap: break-word; 
}

.wp-block-image figcaption {
    margin-top: .5em;
    margin-bottom: 1em;
    color: #BACBD9 !important;
    text-align: center; 
}

.wp-block-image .alignleft {
    margin-right: 0 !important; 
}

@media (min-width: 912px) {
    .jumbotron {
        padding: 8rem 2rem; 
    } 
}

#wrapper-navbar img {
    width: 202px;
    height: 33px; 
}

iframe {
    width: 1px;
    min-width: 100%;
}

/* General */
h1 {
    font-size: 72px;
    line-height: 72px;
    font-weight: var(--font-weight-display);
}

h2 {
    font-size: 48px;
    line-height: 48px;
    font-weight: var(--font-weight-display);
}

h3 {
    font-size: 40px;
    line-height: 40px;
    font-weight: var(--font-weight-display);
}

h4 {
    font-size: 30px;
    line-height: 30px;
    font-weight: var(--font-weight-display);
}

h5 {
    font-size: 24px;
    line-height: 24px;
    font-weight: var(--font-weight-display);
}

h6 {
    font-size: 18px;
    line-height: 18px;
    font-weight: var(--font-weight-display);
}

.display-1 {
    font-size: 3rem;
}

.display-1,
.display-2,
.display-3,
.display-4,
.display-5 {
    font-weight: var(--font-weight-display);
    line-height: 0.8em;
}

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) { 
    .display-1 {
        font-size: 3rem;
    }
    .display-2 {
        font-size: 2.2rem;
    }
    .display-3 {
        font-size: 2rem;
    }
    .display-4 {
        font-size: 2rem;
    }
}

a {
    &.arrow {
        text-decoration: unset;
        margin-left: 0px;
        transition: var(--transition-regular);
        &::after{
            padding-left: 2px;
            content: "\2192";
        }
        &:hover{
            margin-left: 20px;
        }
    }
}

// Btn Icon Animation
.btn {
    &-iconed{
        transition: .15s ease-in-out;
        padding-left: 1.3rem;
        padding-right: 1.5rem;
        [class~=fa],
        [class~=svg-inline--fa],
        [class~=typcn]::before,
        [class~=mdi]::before, 
        [class~=icon]::before {
            opacity: 0;
            transform-origin: left right;// Icon to left: left right;
            transform: translateX(0px) scale(1); // Icon to left: translateX(-10px) scale(1.25);
            transition: .15s ease-out;
        }
        [class=spn] { /** Span Class **/
            position: relative;
            left:0px; // Icon to left: -9px
            transform-origin: left right; // Icon to left: left right
            transform: translateX(0px);// Icon to left: -9px
            transition: .20s ease-in-out;
        }
        &:hover { /** -- Icons on Hover properties -- **/
            [class~=fa], [class~=svg-inline--fa],
            [class~=mdi]::before, [class~=icon]::before, [class~="typcn"]::before { /** -- Since Material, Iconic and Typicons use ::before -- **/
                opacity: 1;
                transform: translateX(20px) scale(1); // Icon to left: translateX(20px) scale(.75);
            }
            [class=spn] {/** -- Span on Hover properties -- **/   
                left:0px; // transform: translateX(0);
            }
        }
    }
}

/* 
 * Bootrsap 4.x responsive font size
 */

@include media("<desktop") {
}

@include media("<=tablet", "landscape") {
    h5 {
        font-size: 22px;
        line-height: 22px;
    }
}

@include media("<=phone", "portrait") {    
    h1 {
        font-size: 12vw;
        line-height: 12vw;
    }
    h2 {
        font-size: 10vw;
        line-height: 10vw;
    }
    h3 {
        font-size: 8vw;
        line-height: 8vw;
    }
    h4 {
        font-size: 6vw;
        line-height: 6vw;
    }
    h5 {
        font-size: 6vw;
        line-height: 6vw;
    }
    h6 {
        font-size: 6vw;
        line-height: 6vw;
    }
}

@media (max-width: 1200px) {
    legend {
    font-size: calc(1.275rem + 0.3vw);
    }
    h1.responsive,
    .h1.responsive {
    font-size: calc(1.375rem + 1.5vw);
    }
    h2.responsive,
    .h2.responsive {
    font-size: calc(1.325rem + 0.9vw);
    }
    h3.responsive,
    .h3.responsive {
    font-size: calc(1.3rem + 0.6vw);
    }
    h4.responsive,
    .h4.responsive {
    font-size: calc(1.275rem + 0.3vw);
    }
    .display-1 {
    font-size: calc(1.725rem + 5.7vw);
    }
    .display-2 {
    font-size: calc(1.675rem + 5.1vw);
    }
    .display-3 {
    font-size: calc(1.575rem + 3.9vw);
    }
    .display-4 {
    font-size: calc(1.475rem + 2.7vw);
    }
    .close {
    font-size: calc(1.275rem + 0.3vw);
    }
}
