/* * */
:root {
    --color-black: 31, 31, 31;
    --color-white: 255, 255, 255;

    --color-gray-one: #f8f8f8;
    --color-gray-two: #e6e6e6;
    --color-gray-three: #d8d8d8;
    --color-gray-four: #e6f3f5;
    --color-gray-five: #909090;

    --color-one: #0C8DA0;
    --color-one-shade-one: #3DA4B3;
    --color-one-shade-two: #6DBBC6;
    --color-one-shade-three: #9ED1D9;
    --color-one-dark-shade-one: #0A7180;
    --color-one-dark-shade-two: #075560;
    --color-one-dark-shade-three: #053840;

    --color-two: #D1DC4C;
    --color-two-shade-one: #DAE370;
    --color-two-shade-two: #E4EA94;
    --color-two-shade-three: #ECF1B7;
    --color-two-dark-shade-one: #A7B03D;
    --color-two-dark-shade-two: #7E842E;
    --color-two-dark-shade-three: #53581E;

    --color-three: #EE484B;
    --color-three-shade-one: #F26D6F;
    --color-three-shade-two: #F59193;
    --color-three-shade-three: #F8B6B7;
    --color-three-dark-shade-one: #BF3A3C;
    --color-three-dark-shade-two: #8F2B2D;
    --color-three-dark-shade-three: #5F1D1E;

    --color-four: #31AEB4;
    --color-four-shade-one: #5ABEC3;
    --color-four-shade-two: #83CFD2;
    --color-four-shade-three: #ADDEE1;
    --color-four-dark-shade-one: #278B90;
    --color-four-dark-shade-two: #1D696C;
    --color-four-dark-shade-three: #144548;

    --color-five: #DEA933;
    --color-five-shade-one: #E5BA5C;
    --color-five-shade-two: #ECCC85;
    --color-five-shade-three: #F1DCAD;
    --color-five-dark-shade-one: #B28729;
    --color-five-dark-shade-two: #86661F;
    --color-five-dark-shade-three: #584314;

    --color-six: #311348;
    --color-six-shade-one: 	101, 66, 109; //#5a426D
    --color-six-shade-two: #837191;
    --color-six-shade-three: #ADA1b6;
    --color-six-dark-shade-one: #270F3A;
    --color-six-dark-shade-two: #1D0B2B;
    --color-six-dark-shade-three: 15, 10, 27; //#0F0A1B;
    
    --transition-regular: all 400ms ease;
    --transition-fast: all 100ms ease;
    --font-weight-display: 900;
    --border-radius: 5px;
    --section-padding: 5rem 0rem;
    --section-padding-compact: 2rem 0rem;
    --container-padding: 15px;
    --max-layout-width: 1200px;
}

/* * Font Family */
@font-face {
    font-family: 'Proxima nova';
    src: url('../assets/fonts/proximanova/ProximaNova-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima nova';
    src: url('../assets/fonts/proximanova/ProximaNova-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima nova';
    src: url('../assets/fonts/proximanova/ProximaNova-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima nova';
    src: url('../assets/fonts/proximanova/ProximaNova-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima nova';
    src: url('../assets/fonts/proximanova/ProximaNova-Extrabold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

/* General */
body {
    > div {
        > div{
            > main {
                min-height: 100vh;
                display: flex;
                flex-direction: column;
            }
        }
    }
    footer {
        margin-top: auto;
    }
}

.body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Proxima nova', sans-serif;
}

h1 {
    font-size: 72px;
    line-height: 72px;
    font-weight: var(--font-weight-display);
}

h2 {
    font-size: 48px;
    line-height: 48px;
    font-weight: var(--font-weight-display);
}

h3 {
    font-size: 40px;
    line-height: 40px;
    font-weight: var(--font-weight-display);
}

h4 {
    font-size: 30px;
    line-height: 30px;
    font-weight: var(--font-weight-display);
}

h5 {
    font-size: 24px;
    line-height: 24px;
    font-weight: var(--font-weight-display);
}

h6 {
    font-size: 18px;
    line-height: 18px;
    font-weight: var(--font-weight-display);
}

.display-1 {
    font-size: 3rem;
}

.display-1,
.display-2,
.display-3,
.display-4,
.display-5 {
    font-weight: var(--font-weight-display);
    line-height: 0.8em;
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .display-1 {
        font-size: 3rem;
    }
    .display-2 {
        font-size: 2.2rem;
    }
    .display-3 {
        font-size: 2rem;
    }
    .display-4 {
        font-size: 2rem;
    }
}

a {
    color: var(--color-one);
    transition: var(--transition-regular);
    text-decoration: none;
}

a:hover {
    color: var(--color-one-dark-shade-one);
}

a {
    &.arrow {
        text-decoration: unset;
        margin-left: 0px;
        transition: var(--transition-regular);
        &::after{
            padding-left: 2px;
            content: "\2192";
        }
        &:hover{
            margin-left: 20px;
        }
    }
}

.user-select-none {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.h-cursor-pointer {
    cursor: pointer;
}

.h-text-wrap {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.h-color-one {
    color: var(--color-one);
}
.h-color-one-shade-one {
    color: var(--color-one-shade-one);
}
.h-color-one-shade-two {
    color: var(--color-one-shade-two);
}
.h-color-one-shade-three {
    color: var(--color-one-shade-three);
}
.h-color-one-dark-shade-one {
    color: var(--color-one-dark-shade-one);
}
.h-color-one-dark-shade-two {
    color: var(--color-one-dark-shade-two);
}
.h-color-one-dark-shade-three {
    color: var(--color-one-dark-shade-three);
}
.h-color-two {
    color: var(--color-two);
}

.h-color-three {
    color: var(--color-three);
}
.h-color-three-shade-one {
    color: var(--color-three-shade-one);
}
.h-color-three-shade-two {
    color: var(--color-three-shade-two);
}
.h-color-three-shade-three {
    color: var(--color-three-shade-three);
}
.h-color-four {
    color: var(--color-four);
}

.h-color-five {
    color: var(--color-five);
}

.h-color-six {
    color: var(--color-six);
}
.h-color-six-shade-one {
    color: var(--color-six-shade-one);
}
.h-color-six-shade-two {
    color: var(--color-six-shade-two);
}
.h-color-six-shade-three {
    color: var(--color-six-shade-three);
}

.h-black-outline {
    letter-spacing: 3px;
    text-shadow: -1px -1px 0 rgba(var(--color-black),1), 
                1px -1px 0 rgba(var(--color-black), 1), 
                -1px 1px 0 rgba(var(--color-black), 1), 
                1px 1px 0 rgba(var(--color-black), 1);
}

.h-black-outline-over-white {
    color: rgba(var(--color-white),1);
}

.h-black-outline-over-one {
    color: var(--color-one);
}

.h-black-outline-over-two {
    color: var(--color-two);
}

.h-black-outline-over-three {
    color: var(--color-three);
}

.h-black-outline-over-four {
    color: var(--color-four);
}

.h-black-outline-over-five {
    color: var(--color-five);
}

.h-black-outline-over-six {
    color: var(--color-six);
}

.h-white-outline {
    letter-spacing: 3px;
    color: rgba(var(--color-white),1);
    text-shadow: -1px -1px 0 rgba(var(--color-white),1), 
                1px -1px 0 rgba(var(--color-white),1), 
                -1px 1px 0 rgba(var(--color-white),1), 
                1px 1px 0 rgba(var(--color-white),1);
}

.h-white-outline-over-black {
    color: rgba(var(--color-black),1);
}

.h-white-outline-over-one {
    color: var(--color-one);
}

.h-white-outline-over-two {
    color: var(--color-two);
}

.h-white-outline-over-three {
    color: var(--color-three);
}

.h-white-outline-over-four {
    color: var(--color-four);
}

.h-white-outline-over-five {
    color: var(--color-five);
}

.h-white-outline-over-six {
    color: var(--color-six);
}

.h-one-outline {
    letter-spacing: 3px;
    color: var(--color-one);
    text-shadow: -1px -1px 0 var(--color-one), 
                1px -1px 0 var(--color-one), 
                -1px 1px 0 var(--color-one), 
                1px 1px 0 var(--color-one);
}

.h-one-outline-over-white {
    color: rgba(var(--color-white),1);
}

.h-one-outline-over-black {
    color: rgba(var(--color-black),1);
}

.h-one-outline-over-two {
    color: var(--color-two);
}

.h-one-outline-over-three {
    color: var(--color-three);
}

.h-one-outline-over-four {
    color: var(--color-four);
}

.h-one-outline-over-five {
    color: var(--color-five);
}

.h-one-outline-over-six {
    color: var(--color-six);
}

.h-two-outline {
    letter-spacing: 3px;
    color: var(--color-two);
    text-shadow: -1px -1px 0 var(--color-two), 
                1px -1px 0 var(--color-two), 
                -1px 1px 0 var(--color-two), 
                1px 1px 0 var(--color-two);
}

.h-two-outline-over-white {
    color: rgba(var(--color-white),1);
}

.h-two-outline-over-one {
    color: var(--color-one);
}

.h-two-outline-over-black {
    color: rgba(var(--color-black),1);
}

.h-two-outline-over-three {
    color: var(--color-three);
}

.h-two-outline-over-four {
    color: var(--color-four);
}

.h-two-outline-over-five {
    color: var(--color-five);
}

.h-two-outline-over-six {
    color: var(--color-six);
}

.h-three-outline {
    letter-spacing: 3px;
    color: var(--color-three);
    text-shadow: -1px -1px 0 var(--color-three), 
                1px -1px 0 var(--color-three), 
                -1px 1px 0 var(--color-three), 
                1px 1px 0 var(--color-three);
}

.h-three-outline-over-white {
    color: rgba(var(--color-white),1);
}

.h-three-outline-over-one {
    color: var(--color-one);
}

.h-three-outline-over-two {
    color: var(--color-two);
}

.h-three-outline-over-black {
    color: rgba(var(--color-black),1);
}

.h-three-outline-over-four {
    color: var(--color-four);
}

.h-three-outline-over-five {
    color: var(--color-five);
}

.h-three-outline-over-six {
    color: var(--color-six);
}

.h-four-outline {
    letter-spacing: 3px;
    color: var(--color-four);
    text-shadow: -1px -1px 0 var(--color-four), 
                1px -1px 0 var(--color-four), 
                -1px 1px 0 var(--color-four), 
                1px 1px 0 var(--color-four);
}

.h-four-outline-over-white {
    color: rgba(var(--color-white),1);
}

.h-four-outline-over-one {
    color: var(--color-one);
}

.h-four-outline-over-two {
    color: var(--color-two);
}

.h-four-outline-over-three {
    color: var(--color-three);
}

.h-four-outline-over-black {
    color: rgba(var(--color-black),1);
}

.h-four-outline-over-five {
    color: var(--color-five);
}

.h-four-outline-over-six {
    color: var(--color-six);
}

.h-five-outline {
    letter-spacing: 3px;
    color: var(--color-five);
    text-shadow: -1px -1px 0 var(--color-five), 
                1px -1px 0 var(--color-five), 
                -1px 1px 0 var(--color-five), 
                1px 1px 0 var(--color-five);
}

.h-five-outline-over-white {
    color: rgba(var(--color-white),1);
}

.h-five-outline-over-one {
    color: var(--color-one);
}

.h-five-outline-over-two {
    color: var(--color-two);
}

.h-five-outline-over-three {
    color: var(--color-three);
}

.h-five-outline-over-four {
    color: var(--color-four);
}

.h-five-outline-over-black {
    color: rgba(var(--color-black),1);
}

.h-five-outline-over-six {
    color: var(--color-six);
}

.h-six-outline {
    letter-spacing: 3px;
    color: var(--color-six);
    text-shadow: -1px -1px 0 var(--color-six), 
                1px -1px 0 var(--color-six), 
                -1px 1px 0 var(--color-six), 
                1px 1px 0 var(--color-six);
}

.h-six-outline-over-white {
    color: rgba(var(--color-white),1);
}

.h-six-outline-over-one {
    color: var(--color-one);
}

.h-six-outline-over-two {
    color: var(--color-two);
}

.h-six-outline-over-three {
    color: var(--color-three);
}

.h-six-outline-over-four {
    color: var(--color-four);
}

.h-six-outline-over-five {
    color: var(--color-five);
}

.h-six-outline-over-black {
    color: rgba(var(--color-black),1);
}
.h-blur-body {
    top:0;
    position:absolute;
    z-index: 6;
    width:100%;
    height:50px;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}

.opacity-0 {
    opacity: 0;
}

.opacity-20 {
    opacity: 0.20;
}

.opacity-40 {
    opacity: 0.40;
}

.opacity-60 {
    opacity: 0.60;
}

.opacity-80 {
    opacity: .80;
}

.opacity-100 {
    opacity: 1;
}

.z-index-0 {
    z-index: 0 !important;
}

.z-index-1 {
    z-index: 1;
}

.z-index-2 {
    z-index: 2;
}

.z-index-3 {
    z-index: 3;
}

.z-index-4 {
    z-index: 4;
}

.z-index-5 {
    z-index: 5;
}

.h-background-black {
    background-color: rgba(var(--color-black),1);
}

.h-background-white {
    background-color: rgba(var(--color-white),1);
}

.h-background-one {
    background-color: var(--color-one);
}

.h-background-two {
    background-color: var(--color-two);
}

.h-background-three {
    background-color: var(--color-three);
}

.h-background-four {
    background-color: var(--color-four);
}

.h-background-five {
    background-color: var(--color-five);
}

.h-background-six {
    background-color: var(--color-six);
}

.h-background-six-shade-three {
    background-color: rgba(var(--color-six-dark-shade-three),1);
}

.h-background-gray-one {
    background-color: var(--color-gray-one);
}

.h-background-gray-two {
    background-color: var(--color-gray-two);
}

.h-background-gray-three {
    background-color: var(--color-gray-three);
}

.h-background-gray-four {
    background-color: var(--color-gray-four);
}

.h-background-gray-five {
    background-color: var(--color-gray-five);
}

ul.h-nobullets {
    list-style-type: none;
}

.h-center-absolute {
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
}

.h-scroll-horizontal {
    overflow-x: auto;

    /* for horizontal scroll bar */
    overflow-y: hidden;
}

.disable-scrollbars {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
    &::-webkit-scrollbar {
      width: 0px;
      background: transparent; /* Chrome/Safari/Webkit */
    }
}

article {
    h1, h2, h3, h4, h5 {
        font-weight: 500;
    }
    h1{
        font-size: 3rem;
        line-height: 3rem;
        margin-bottom: 1rem;
    }
    h2{
        font-size: 2.5rem;
        line-height: 2.5rem;
        margin-bottom: 1rem;
    }
    > p, > ol, > ul {
        margin: 2rem auto;
        font-size: 21px;
        line-height: 32px;
    }
    blockquote {
        margin: 20px auto;
        max-width: 800px;
        p {
            font-size: 2rem;
            font-style: italic;
        }
        cite {
            font-style: normal;
        }
    }
}
hr {
    margin-top: 0rem;
    margin-bottom: 0rem;

    &.dark{
        border-top: 1px solid rgba(var(--color-six-shade-one),0.2);
        background-color: rgba(var(--color-six-dark-shade-three),1);
        padding-bottom: 0rem;
    }
}

/** 
 Buttons 
 **/
/* General Styling */
[class^="btn"] {
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
}

.btn,
.btn::after {
    -webkit-transition: var(--transition-regular);
    -moz-transition: var(--transition-regular);
    -o-transition: var(--transition-regular);
    transition: var(--transition-regular);
}

[class^="btn"]:hover {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}

.btn {
    cursor: pointer;
    background: none;
    display: inline-block;
    font-size: 16px;
    margin: 1em 0px;
    padding: 15px 20px;
    position: relative;
    border-radius: 3px;
    background-color: transparent;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.btn::before,
.btn::after {
    content: '';
    position: absolute;
    z-index: -1;
}

/* Animation */
.btn--animation {
    overflow: hidden;
}
.btn--animation::after {
    height: 100%;
    left: -50%;
    top: 0;
    transform: skew(30deg);
    transition-duration: 0.6s;
    transform-origin: top left;
    width: 0;
}
.btn--animation:hover {
    background-color: initial;
}
.btn--animation:hover:after {
    height: 100%;
    width: 150%;
}

/* Color One: Outline Transparent Black */
.btn--dark-outline {
    color: rgba(var(--color-six-dark-shade-three),1);
}

.btn--dark-outline:hover {
    color: rgba(var(--color-white),1);
}

.btn--dark-outline::before,
.btn--dark-outline::after {
    background: rgba(var(--color-six-dark-shade-three),1);
}

.btn--dark-outline {
    border: 3px solid rgba(var(--color-six-dark-shade-three),1);
}

/* Color One: Outline Transparent Light */
.btn--light-outline {
    color: rgba(var(--color-white),1);
}
.btn--light-outline:not(:disabled):not(.disabled):active {
    color: rgba(var(--color-black),1);
    background-color: rgba(var(--color-white),1);
    border-color: rgba(var(--color-white),1);
}

.btn--light-outline:hover {
    color: rgba(var(--color-six-dark-shade-three),1);
    border-color: rgba(var(--color-white),1);
}

.btn--light-outline::before,
.btn--light-outline::after {
    background: rgba(var(--color-white),1);
}

.btn--light-outline {
    border: 3px solid rgba(var(--color-white),1);
}

/* Color Three: Solid */
.btn--three {
    color: rgba(var(--color-white),1);
    background: var(--color-three);
}
.btn--three:hover {
    color: rgba(var(--color-white),1);
}
.btn--three::before,
.btn--three::after {
    background: var(--color-three-dark-shade-one);
}
.btn--three {
    border: 3px solid var(--color-three);
}
.btn--three:hover {
    border: 3px solid var(--color-three-dark-shade-one);
}

/* Color Three: Outline */
.btn--three-outline {
    color: var(--color-three);
}

.btn--three-outline:hover {
    color: rgba(var(--color-white),1);
}

.btn--three-outline::before,
.btn--three-outline::after {
    background: var(--color-three);
}

.btn--three-outline {
    border: 3px solid var(--color-three);
}