@import "~include-media/dist/_include-media.scss";

/* 
REFACTOR 
*/

/* TODO: quick fix */
.link-more {
    display: none;
}

.mw-600px {
    max-width: 600px;
}

.badge-image {
    display: inline-flex;
    align-items: center;
}
.badge-image img {
    padding-right: 5px;
}

@media (max-width: 1200px) {
    legend {
      font-size: calc(1.275rem + 0.3vw);
    }
    h1.responsive,
    .h1.responsive {
      font-size: calc(1.375rem + 1.5vw);
    }
    h2.responsive,
    .h2.responsive {
      font-size: calc(1.325rem + 0.9vw);
    }
    h3.responsive,
    .h3.responsive {
      font-size: calc(1.3rem + 0.6vw);
    }
    h4.responsive,
    .h4.responsive {
      font-size: calc(1.275rem + 0.3vw);
    }
    .display-1 {
      font-size: calc(1.725rem + 5.7vw);
    }
    .display-2 {
      font-size: calc(1.675rem + 5.1vw);
    }
    .display-3 {
      font-size: calc(1.575rem + 3.9vw);
    }
    .display-4 {
      font-size: calc(1.475rem + 2.7vw);
    }
    .close {
      font-size: calc(1.275rem + 0.3vw);
    }
}

iframe {
    width: 1px;
    min-width: 100%;
}

/*******************************************************
 * Wordpress code
 *******************************************************/

img.wp-post-image,
article img,
figure,
#secondary img {
  margin-bottom: 10px; }

.wp-caption-text {
  margin-bottom: 10px; }

figcaption {
  caption-side: top; }

.widget-area aside {
  padding-bottom: 10px;
  padding-top: 10px; }

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto; }

#page {
  word-wrap: break-word; 
}

.wp-block-image figcaption {
  margin-top: .5em;
  margin-bottom: 1em;
  color: #BACBD9 !important;
  text-align: center; }

.wp-block-image .alignleft {
  margin-right: 0 !important; }

@media (min-width: 912px) {
  .jumbotron {
    padding: 8rem 2rem; } 
}

.woocommerce div.product form.cart div.quantity {
  float: none;
  display: inline-block;
  vertical-align: middle; }

.woocommerce #content table.cart td.actions .input-text,
.woocommerce table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions .input-text,
.woocommerce-page table.cart td.actions .input-text {
  width: 110px; }

.woocommerce-MyAccount-navigation {
  margin-bottom: 50px;
  margin-top: 20px; }

#wrapper-navbar img {
  width: 202px;
  height: 33px; }

/* 
  Bootstrap
*/

/* Pagination */
.page-item{

  &.active {
    .page-link {
      z-index: 3;
      color: #fff;
      background-color: var(--color-one);
      border-color: var(--color-one);
    }
  }

  .page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: var(--color-one);
    background-color: #fff;
    border: 1px solid #dee2e6;
    &:hover {
      z-index: 2;
      color: var(--color-one-dark-shade-two);
      text-decoration: none;
      background-color: #e9ecef;
      border-color: #dee2e6;
    }
  }
}