@import "../../node_modules/include-media/dist/_include-media.scss";

.mw-600px {
    max-width: 600px;
}

.badge-image {
    display: inline-flex;
    align-items: center;
}
.badge-image img {
    padding-right: 5px;
}
.user-select-none {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* * Buttons */
/* General Styling */
[class^="btn"] {
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
}

.btn,
.btn::after {
    -webkit-transition: var(--transition-regular);
    -moz-transition: var(--transition-regular);
    -o-transition: var(--transition-regular);
    transition: var(--transition-regular);
}

[class^="btn"]:hover {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}

.btn {
    cursor: pointer;
    background: none;
    display: inline-block;
    font-size: 16px;
    margin: 1em auto;
    padding: 15px 20px;
    position: relative;
    border-radius: 3px;
    background-color: transparent;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.btn::before,
.btn::after {
    content: '';
    position: absolute;
    z-index: -1;
}

/* Animation */
.btn--animation {
    overflow: hidden;
}
.btn--animation::after {
    height: 100%;
    left: -50%;
    top: 0;
    transform: skew(30deg);
    transition-duration: 0.6s;
    transform-origin: top left;
    width: 0;
}
.btn--animation:hover {
    background-color: initial;
}
.btn--animation:hover:after {
    height: 100%;
    width: 150%;
}

/* Color One: Outline Transparent Black */
.btn--dark-outline {
    color: var(--color-six-dark-shade-three);
}

.btn--dark-outline:hover {
    color: var(--color-white);
}

.btn--dark-outline::before,
.btn--dark-outline::after {
    background: var(--color-six-dark-shade-three);
}

.btn--dark-outline {
    border: 3px solid var(--color-six-dark-shade-three);
}

/* Color One: Outline Transparent Light */
.btn--light-outline {
    color: var(--color-white);
}
.btn--light-outline:not(:disabled):not(.disabled):active {
    color: var(--color-black);
    background-color: var(--color-white);
    border-color: var(--color-white);
}

.btn--light-outline:hover {
    color: var(--color-six-dark-shade-three);
    border-color: var(--color-white);
}

.btn--light-outline::before,
.btn--light-outline::after {
    background: var(--color-white);
}

.btn--light-outline {
    border: 3px solid var(--color-white);
}

/* Color Three: Solid */
.btn--three {
    color: var(--color-white);
    background: var(--color-three);
}
.btn--three:hover {
    color: var(--color-white);
}
.btn--three::before,
.btn--three::after {
    background: var(--color-three-dark-shade-one);
}
.btn--three {
    border: 3px solid var(--color-three);
}
.btn--three:hover {
    border: 3px solid var(--color-three-dark-shade-one);
}

/* Color Three: Outline */
.btn--three-outline {
    color: var(--color-three);
}

.btn--three-outline:hover {
    color: var(--color-white);
}

.btn--three-outline::before,
.btn--three-outline::after {
    background: var(--color-three);
}

.btn--three-outline {
    border: 3px solid var(--color-three);
}

@media (max-width: 1200px) {
    legend {
      font-size: calc(1.275rem + 0.3vw);
    }
    h1.responsive,
    .h1.responsive {
      font-size: calc(1.375rem + 1.5vw);
    }
    h2.responsive,
    .h2.responsive {
      font-size: calc(1.325rem + 0.9vw);
    }
    h3.responsive,
    .h3.responsive {
      font-size: calc(1.3rem + 0.6vw);
    }
    h4.responsive,
    .h4.responsive {
      font-size: calc(1.275rem + 0.3vw);
    }
    .display-1 {
      font-size: calc(1.725rem + 5.7vw);
    }
    .display-2 {
      font-size: calc(1.675rem + 5.1vw);
    }
    .display-3 {
      font-size: calc(1.575rem + 3.9vw);
    }
    .display-4 {
      font-size: calc(1.475rem + 2.7vw);
    }
    .close {
      font-size: calc(1.275rem + 0.3vw);
    }
}

a.arrow {
    text-decoration:underline;
    &:after {
        position: absolute; /* Prevent underline of arrow */
        padding-left:2px; /* Add a little space between text and arrow */
        content: "\2192"; /* Unicode hex for &raquo; */
    }
}

/*
 * 
 */
.alert-top {
    margin-top: -130px;
}

@include media("≥phone", "<850px") {
    .alert-top {
        margin-top: -110px;
    }
}
.alert-announcement .alert {
    color: var(--color-one-dark-shade-three);
    background-color: var(--color-one-shade-three);
    border-color: var(--color-one);
}
/* *****************************************************
 * Small Groups page
 ***************************************************** */

.c-tabs {
    display: flex;
}
.c-tabs a {
    padding: 20px 20px;
}
.c-tabs__item {
    flex-grow: 1;
}
.c-tabs__link {
    text-align: center;
    font-weight: 700;
}
.c-tabs a.c-tabs__link.nav-link {
    border-top: 3px solid transparent;
    color: var(--color-gray-five);
    background-color: var(--color-gray-one);
    border: 1px solid  var(--color-gray-three);
}
.c-tabs a.active.c-tabs__link.nav-link {
    border-top: 3px solid var(--color-five);
    background-color: var(--color-white);
    border-bottom: unset;
    color: var(--color-black);
    border-left: unset !important;
    border-right: unset !important;
}
.c-tabs .nav-tabs .nav-link {
    border: 0px;
}
section,
.section {
    position: relative;
}
.section {
    padding: 150px 0;
}
p.paragraph--first {
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
}

.c-about {
    background-color: var(--color-six-dark-shade-three);
    min-height: 600px;
    position: relative;
}

.c-about__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
}

.c-about__photo {
    min-height: 600px;
    width: 100%;
    background-image: url('../assets/img/smallgroups/Video@2x.jpg');
    background-position: center center;
    background-size: cover;
    align-items: center;
}

.c-about__content {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-self: center;
    position: relative;
}

.c-about__content h3 {
    font-size: 60px;
    line-height: 55px;
    color: var(--color-four);
}

.c-groups {
    min-height: 600px;
    margin: 150px 0px 150px 0px;
    position: relative;
}

.c-groups__introduction {
    position: relative;
    max-width: 700px;
    text-align: center;
    margin: 0px auto;
}

.c-tabs--simple {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
}

.c-tabs--simple div {
    text-align: center;
}

.c-tabs--simple div a {
    padding: 18px;
    font-size: 18px;
    line-height: 26px;
    background-color: var(--color-gray-one);
    color: var(--color-gray-five);
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0px;
}

.nav-tabs,
.nav-tabs .nav-link,
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
    border: none;
    border-radius: unset;
}

.c-tabs--simple .nav-link:hover {
    color: var(--color-five-dark-shade-one);
    background-color: var(--color-five-shade-three);
}

.c-tabs--simple a.nav-link.active {
    background-color: var(--color-five);
    color: var(--color-white);
    border: none;
    border-radius: unset;
}

.c-groups__panel {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    align-items: center;
    grid-gap: 30px;
    padding: 100px 0px 0px 0px;
}

.c-groups__panel .c-groups__overview p:first-of-type {
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
}

.c-groups__photo {
    position: relative;
    display: block;
    overflow: visible;
    min-height: 600px;
    display: flex;
    justify-content: center;
}

.g-brandpattern {
    width: 100%;
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 10%;
    right: -20%;
    background-repeat: no-repeat;
}

.g-brandpattern--blue {
    background-image: url('../assets/img/smallgroups/g-brandpatter--blue.svg');
}

.g-brandpattern--red {
    background-image: url('../assets/img/smallgroups/g-brandpatter--red.svg');
}

.g-brandpattern--purple {
    background-image: url('../assets/img/smallgroups/g-brandpatter--purple.svg');
}

.c-groups__image {
    z-index: 1;
    position: absolute;
}

.g-circlewords {
    position: absolute;
    background-position: center center;
    background-size: contain;
    z-index: 0;
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-image: url('../assets/img/global/pillar-circle-words-transforming-communities.svg');
}

.g-circlewords.g-circlewords--pillar-one {
    background-image: url('../assets/img/global/pillar-circle-words-building-families.svg');
}
.g-circlewords.g-circlewords--pillar-two {
    background-image: url('../assets/img/global/pillar-circle-words-transforming-communities.svg');
}
/* .g-circlewords.g-circlewords--pillar-three {
    background-image: url('../img/global/pillar-circle-words-reconciling-cultures.svg');
} */
/* .g-circlewords.g-circlewords--pillar-four {
    background-image: url('../img/global/pillar-circle-words-impacting-nations.svg');
} */

.c-groups__content {
    position: relative;
}

.c-share {
    background-color: var(--color-one);
    background-image: url('../assets/img/smallgroups/share_background.jpg');
    background-position: bottom right;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
}

.c-share__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    align-items: center;
    min-height: 500px;
}

.c-share__content {
    position: relative;
    padding: 30px;
    overflow: visible;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.c-share__image {
    background-image: url('../assets/img/smallgroups/share_background.jpg');
    height: 100%;
    background-size: cover;
    background-position: center;
}

.c-share__cbackground {
    position: absolute;
    background-color: var(--color-one);
    width: 100%;
    height: 100%;
    top: 0;
    right: -20%;
    -moz-transform: skew(20deg, 0deg);
    -webkit-transform: skew(20deg, 0deg);
    -o-transform: skew(20deg, 0deg);
    -ms-transform: skew(20deg, 0deg);
    transform: skew(20deg, 0deg);
}

/* * Social */
.c-share__buttons {
    position: relative;
}

.c-form__socials {
    margin-left: 20px;
}

.c-form__social {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 100px;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    cursor: pointer;
}

.c-form__social:hover {
    border-radius: 100px;
}

/* Hover colors */
.c-form__social--white {
    border-color: hsla(0, 0%, 100%, 0.01);
}

.c-form__social--white:hover {
    border: 1px solid var(--color-white);
}

.c-form__social--six {
    border-color: hsla(0, 0%, 100%, 0.01);
}

.c-form__social--six:hover {
    border: 1px solid var(--color-six);
}

.c-testimonials__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 40px;
    grid-template-rows: 1fr;
    overflow: hidden;
    position: relative;
}

.c-testimonials--wall .card {
    min-height: 400px;
}

.c-testimonials--wall .c-testimonials__grid {
    max-height: 100vh;
}

.c-testimonials {
    padding: 100px 0px 0px 0px;
}

.testimonial-card .card-up {
    height: 7px;
    overflow: hidden;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.testimonial-card span {
    font-size: 14px;
    color: var(--color-gray-five);
}

.testimonial-card .avatar {
    width: 120px;
    margin-top: 30px;
    overflow: hidden;
    border: 5px solid #fff;
    border-radius: 50%;
}

.testimonial-card .avatar img {
    width: 100%;
    object-fit: cover;
    height: 110px;
}

.rounded-circle {
    border-radius: 50% !important;
}

.testimonial-card .card-body {
    text-align: center;
}

.a-goingup {
    position: relative;
    top: -150px;
}

.a-goingdown {
    position: relative;
    bottom: -100px;
}

.c-video--simple {
    min-height: 600px;
    padding: 150px 0px;
}

.c-video__player {
    background-color: var(--color-black);
}

.c-steps .c-steps__content {
    max-width: 860px;
}

.c-steps__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-gap: 30px;
}

.c-steps .c-steps__number {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-one);
    color: var(--color-white);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    position: absolute;
    margin-top: -35px;
    margin-left: 40%;
}

.c-video__background {
    background-image: url('../assets/img/smallgroups/background_video_simple.jpg');
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
}

.c-news {
    margin: 100px auto;
}
.badge-pill {
    border-radius: 100px;
}
.c-news__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 30px;
}

.c-news__card {
    height: 100%;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
}

.card--news {
    max-width: 560px;
}

.card--news .card-title {
    font-weight: 600;
}

.card--news .card-img {
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px 0 0 5px !important;
}

.arrow--link {
    background-image: url('../assets/img/global/arrow_icon_gray.svg');
    width: 32px;
    height: 32px;
    display: inline-block;
}
.c-news__card .arrow--link {
position: absolute; right: 10px; bottom: 10px;
}
.c-application--two-panes {
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.c-application__form {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.c-application__photo {
    display: flex;
    align-items: flex-end;
}

iframe {
    width: 1px;
    min-width: 100%;
}

.c-application__content {
    padding: 30px 60px;
}

.c-application__image {
    height: 100%;
    width: 100%;
    top: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.c-application__advantages {
    width: 100%;
    padding: 70px 40px;
}

.c-steps__step {
    margin-top: 50px;
}

/***/
.c-follow__social {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px,1fr));
    grid-gap: 15px;
    justify-items: center;
}
.c-follow__social a i{
    transition: all 300ms ease;
    font-size: 1.2rem;
}
.c-follow__social a i:hover{
    color: var(--color-five);
}
.c-follow__apps {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
/* // Extra small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}
/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}
/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}


/* ----------- iPhone X ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {

}
/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
}
/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
}
/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 834px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1112px) 
  and (max-device-width: 1112px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1366px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/*******************************************************
 * Countdown
 *******************************************************/
.c-live .c-live__icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}
.c-live .c-live__icons a i{
    transition: all 300ms ease;
    font-size: 1.2rem;
}
.c-live .c-live__icons a i:hover{
    color: var(--color-five);
}
.c-live .c-live__campus {
    color: var(--color-white);
}
.c-live .c-live__links table td {
    padding-right: 10px;
}
/*
* Countdown bar
*/
.c-countdown .c-countdown__message {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    align-self: center;
}
.c-countdown .c-countdown__columns {
    justify-content: space-around;
}
.c-countdown .c-countdown__columnone {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    padding: 0px 20px;
}
.c-countdown .c-countdown__columntwo {
    position: relative;
    min-height: 100px;
    align-content: center;
}
.c-countdown .c-countdown__text--live a {
    text-decoration: none;
    transition: all 300ms ease;
}
.c-countdown .c-countdown__text--live a:hover {
    color: var(--color-one-shade-two);
}
.c-countdown .c-countdown__soon {
    display: inline-flex;
    align-items: center;
}
.c-countdown .tick-label:hover {
    color: var(--color-white);
}

.c-countdown__timer {
    color: white;
    font-size: 18px;
}
.c-countdown__live, 
.c-countdown__pulse {
    background: #f00;
    width: 20px;
    height: 20px;
    border-radius: 100px;
}
.c-countdown__pulse {
    position: absolute;
    animation: pulse 2s;
    animation-iteration-count: infinite;
}
.c-countdown__light {
    position: relative;
    display: flex;
    width: 55px;
    height: 60px;
    justify-content: center;
    align-items: center;
}
.c-countdown__message {
    display: flex;
    align-items: center;
}
@keyframes pulse {
    0% {
    opacity: 1;
    transform: scale(1);
    }
    50% {
    opacity: 0;
    transform: scale(1.6);
    }
    100% {
    opacity: 0;
    }
 }
 
  /* iPhone (portrait and landscape) ----------- */
 @media (max-width: 767px) {

	.c-countdown {
    	width: 100%;
     }
 	.c-countdown .c-countdown__columns {
        grid-template-columns: 1fr 60px;
        grid-template-rows: 55px 1fr;
        min-width: initial;
        max-width: initial;
     }
     .c-countdown .c-countdown__columnzero{
        grid-column-start: 1;
        grid-column-end: 3;
        align-self: stretch;
		    width: 100%;
        padding: 0px;
    }
    .c-countdown .c-countdown__columnzero .btn {
        width: 100%;
        text-align: center;
        border-radius: 0px;
        font-weight: 600;
        margin: 0px;
        height: 55px;
    }
    
 }
 
 /* iPads (portrait and landscape) ----------- */
 @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

 }
 
 /* iPads (landscape) ----------- */
 @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
 }
 
 .c-countdown .tick {
     font-size:1rem; white-space:nowrap;
     width: 250px;
 }
 
 .c-countdown .tick-flip,.tick-text-inline {
     font-size:2.5em;
 }
 
 .c-countdown .tick-label {
     margin-top:1px;
     font-size:1em;
 }
 
 .c-countdown .tick-char {
     width:1.5em;
 }
 
 .c-countdown .tick-text-inline {
     display:inline-block;text-align:center;min-width:1em;
 }
 
 .c-countdown .tick-text-inline+.tick-text-inline {
     margin-left:-.325em;
 }
 
 .c-countdown .tick-group {
     margin:0 .5em;text-align:center;
 }
/*  
 .c-countdown .tick-text-inline {
     color: #595d63 !important; 
 }
 
 .c-countdown .tick-label {
     color: #595d63 !important; 
 } */
 
 .c-countdown .tick-flip-panel {
     color: #fff !important; 
 }
 
 .c-countdown .tick-flip-panel-text-wrapper {
     line-height: 1.45 !important; 
 }
 
 .c-countdown .tick-flip-panel {
     background-color: #3c3e3c !important; 
 }
 
 .c-countdown .tick-flip {
     border-radius:0.12em !important; 
 }




/*******************************************************
 * Wordpress code
 *******************************************************/

img.wp-post-image,
article img,
figure,
#secondary img {
  margin-bottom: 10px; }

.wp-caption-text {
  margin-bottom: 10px; }

figcaption {
  caption-side: top; }

.widget-area aside {
  padding-bottom: 10px;
  padding-top: 10px; }

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto; }

#page {
  word-wrap: break-word; }

.wp-block-image figcaption {
  margin-top: .5em;
  margin-bottom: 1em;
  color: #BACBD9 !important;
  text-align: center; }

.wp-block-image .alignleft {
  margin-right: 0 !important; }

@media (min-width: 912px) {
  .jumbotron {
    padding: 8rem 2rem; } }

.woocommerce div.product form.cart div.quantity {
  float: none;
  display: inline-block;
  vertical-align: middle; }

.woocommerce #content table.cart td.actions .input-text,
.woocommerce table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions .input-text,
.woocommerce-page table.cart td.actions .input-text {
  width: 110px; }

.woocommerce-MyAccount-navigation {
  margin-bottom: 50px;
  margin-top: 20px; }

#wrapper-navbar img {
  width: 202px;
  height: 33px; }
