@import "~include-media/dist/_include-media.scss";

.searchModal {
    
    &.light {
        // Search
        .searchResults {
            background-color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
            border: 1px solid hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.1);
        }
        .btn {
            color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.7);
            &:hover {
                color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
            }
        }
    }

    &.dark {
        // Search
        .searchResults {
            background-color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
            border: 1px solid hsla(var(--light-h), var(--light-s), var(--light-l), 0.2);
        }
        .btn {
            color: hsla(var(--light-h), var(--light-s), var(--light-l), 0.7);
            &:hover {
                color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
            }
        }
    }

    .searchIcon {
        font-size: 19px;
    }


}

/*
 * Search Results Algolia
 */
.modal-dialog {
    width: 90vw;
    height: 90vh;
    max-width: 90vw;
    .nav-item {
        .nav-link {
            padding: 0.25rem 1rem;
            display: flex;
            justify-content: space-between;
            .badge{
                font-size: 0.8rem;
                font-weight: bold;
                line-height: 1rem;
            }
        }
    }
    .modal-content {
        height: 100%;
        .modal-body {
            overflow-y: auto;
        }
    }
    .searchResults {
        margin-top: 0.5em;
        z-index: 2;
        right: 0;
        border-radius: var(--border-radius);
        -webkit-overflow-scrolling: touch;
        .hits {
            ul {
                padding-left: 0;
                list-style: none;
                li {
                    padding-bottom: 1rem;
                }
            }
        }
    }
}

@include media("<desktop") {
}

@include media("≥phone", "<850px") {
}

@include media("≥phone", "<tablet") {  
}
