@import "~include-media/dist/_include-media.scss";

.sectionCarousel {

    &.light {
        background-color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
        > div {
            .general {
                color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
            }
        }
    }

    &.dark {
        background-color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
        > div {
            .general {
                color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
            }
        }
    }

    .carousel {
        ul {
            padding-bottom: 1px;
        }
    }

}