.footerSimpleText {

    position: relative;
    
    &.light {
        background-color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
        .copyright {
            color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
        }
    }
    &.dark { 
        background-color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
        .copyright {
            color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
        }
     }

    .copyright {
        padding: 20px;
        font-size: 12px;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .links {
        > .link {
            padding: 0 10px;
            text-align: center;
        }
    }

}
