@import "~include-media/dist/_include-media.scss";
.sectionAlbum {
    &.light {
    }
    &.dark {
    }

    .album {
        position: relative;
        border-bottom: 1px solid hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.1);
        &.dark {

        }
        .background {
            width: 100%;
            background-position: center center;
            background-size: cover;
            &::after {
                background: linear-gradient(to bottom, hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0) 0%, hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0) 1%, hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0) 39%, hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.3) 61%, hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.7) 100%),
                            linear-gradient(to left, hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0) 0%, hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0) 1%, hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0) 39%, hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.3) 61%, hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.7) 100%),
                            linear-gradient(to top, hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0) 75%, hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.5) 100%);        
                height: 100%;
                width: 100%;
                content: " ";
                position: absolute;
                overflow: hidden;
                top: 0;
            }
        }
        > div {
            display: grid;
            grid-template-columns: 320px 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: "cover info";
            gap: 20px;
            .albumCover {
                grid-area: cover;
                padding: 1rem;
                background-color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.1);
                border-radius: 5px;
                > .cover {
                    overflow: hidden;
                    border-radius: var(--border-radius);
                    max-width: 320px;
                }
            }
            .albumInfo {
                grid-area: info;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .albumTitle {
                    font-size: 2.5rem;
                    line-height: 2.5rem;
                    font-weight: bolder;
                    margin: 0;
                }
                .albumSubtitle {
                    font-size: 1rem;
                    line-height: 1rem;
                    font-weight: normal;
                    margin-bottom: 2rem;
                }
                .buttons {
                    display: flex;
                    gap: 10px;
                }
            }
        }
    }
    .resources {
        border-top: 1px solid hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.1);
        border-bottom: 1px solid hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.1);
        .title {
            font-size: 2rem;
            font-weight: bold;
            line-height: 2rem;
        }
    }
}

@include media("<desktop") {}

@include media("<=tablet") {}

@include media("<tablet") {
    .sectionAlbum {
        .album {
            > div {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: minmax(300px, 1fr);
                grid-template-areas: "cover"
                                     "info";
                gap: 20px;
                .albumCover {
                    grid-area: cover;
                    > .cover {
                        
                    }
                }
                .albumInfo {
                    grid-area: info;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
            }
        }
    }
}

@include media("<=phone") {}