@import "~include-media/dist/_include-media.scss";

.modalPlaylist {

    &.light {
        background-color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
        &.modal {
            > .modal-dialog {
                .modal-content {
                    background-color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
                    .modal-header{
                        .close{
                            color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
                        }
                    }
                }
            }
        }
    }

    &.dark {
        background-color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
        &.modal {
            > .modal-dialog {
                .modal-content {
                    background-color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
                    .modal-header{
                        .close{
                            color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
                        }
                    }
                }
            }
        }
    }

    &.modal {
        max-height: calc(100vh - 332px);
        margin-top: 332px;
        overflow: hidden;
        > .modal-dialog {
            margin: 0;
            bottom: 0;
            height: 100%;

            .modal-content {
                border-radius: 0;
                border: unset;
                height: 100%;
                width: 100vw;
                .modal-header{
                    position: absolute;
                    top: 5px;
                    right: 5px;
                    border: unset;
                    z-index: 1;
                }
                .modal-body {
                    padding: 0px;
                    > section,
                    > div {
                        height: 100%;
                        border-radius: unset;
                        margin: 0px;
                    }
                }
            }
        }
    }
}

.playlist {
    a, button {
        &.button {
            margin: 0px;
            width: 100%;
            padding: 11px 20px;
            border-radius: unset;
            border: unset;
            text-align: left;
            text-transform: unset;
        }
    }
}

@include media("<desktop") {
}

@include media("<=tablet") {
}

@include media("<=phone") {

}