@import "~include-media/dist/_include-media.scss";

.sectionFeedCarousel {

    &.light {
        background-color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
        .title {
            color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.3);
        }
        .description {
            color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.9);
        }
        .react-multiple-carousel__arrow {
            &.react-multiple-carousel__arrow--right{
                &:hover {
                    background: linear-gradient(270deg, hsla(var(--light-h), var(--light-s), var(--light-l), 1) 0%, hsla(var(--dalightrlightk-h), var(--light-s), var(--light-l), 0.5) 70%, hsla(var(--light-h), var(--light-s), var(--light-l), 0) 100%);
                }
            }
            &.react-multiple-carousel__arrow--left{
                &:hover {
                    background: linear-gradient(90deg, hsla(var(--light-h), var(--light-s), var(--light-l), 1) 0%, hsla(var(--light-h), var(--light-s), var(--light-l), 0.5) 70%, hsla(var(--light-h), var(--light-s), var(--light-l), 0) 100%);
                }
            }
        }

    }
    &.dark {
        background-color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
        .title {
            color: hsla(var(--light-h), var(--light-s), var(--light-l), 0.3);
        }
        .description {
            color: hsla(var(--light-h), var(--light-s), var(--light-l), 0.9);
        }
        .react-multiple-carousel__arrow {
            &.react-multiple-carousel__arrow--right{
                &:hover {
                    background: linear-gradient(270deg, hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1) 0%, hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.5) 70%, hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0) 100%);
                }
            }
            &.react-multiple-carousel__arrow--left{
                &:hover {
                    background: linear-gradient(90deg, hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1) 0%, hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.5) 70%, hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0) 100%);
                }
            }
        }
    }
    .title {
        font-weight: 600;
        font-size: 1.2em;
        margin-bottom: 15px;
    }

    .react-multiple-carousel__arrow {
        outline: 0;
        z-index: 10;
        border: 0;
        background: transparent;
        opacity: 0.7;
        border-radius: unset;
        width: 70px;
        top: 0;
        height: 100%;
        transition: var(--transition-regular);
        &:before{
            bottom: 70px;
        }
    }
    .react-multiple-carousel__arrow--right {
        right: 0px;
    }
    .react-multiple-carousel__arrow--left {
        left: 0px;
    }
    .description {
        opacity: 0.3;
        font-size: 1.2rem;
        font-weight: 400;
        letter-spacing: 1px;
    }

}

@include media("≥tablet") {
    .item {
        padding-left: 5px;
    }
}

@include media("<tablet") {

    .sectionFeedCarousel {
        padding: 2rem 0rem;
        &.withDescription {
            .row{
                flex-direction: column !important;
            }
        }
    }

}