@import "../../../../node_modules/include-media/dist/_include-media.scss";

.sectionFeedCarouselVod {
    padding: var(--section-padding-compact);

    h4 {
        font-weight: 600;
    }
    .react-multiple-carousel__arrow {
        outline: 0;
        z-index: 10;
        border: 0;
        background: transparent;
        opacity: 0.7;
        border-radius: unset;
        width: 70px;
        top: 0;
        height: 100%;
        transition: var(--transition-regular);

        &.react-multiple-carousel__arrow--right{
            &:hover {
                background: linear-gradient(270deg, rgba(var(--color-six-dark-shade-three),1) 0%, rgba(var(--color-six-dark-shade-three), 0.5) 70%, rgba(var(--color-six-dark-shade-three), 0) 100%);
            }
        }
        &.react-multiple-carousel__arrow--left{
            &:hover {
                background: linear-gradient(90deg, rgba(var(--color-six-dark-shade-three),1) 0%, rgba(var(--color-six-dark-shade-three), 0.5) 70%, rgba(var(--color-six-dark-shade-three), 0) 100%);
            }
        }
        &:before{
            bottom: 70px;
        }
    }
    .react-multiple-carousel__arrow--right {
        right: 0px;
    }
    .react-multiple-carousel__arrow--left {
        left: 0px;
    }
    .description {
        color: rgba(var(--color-white),1);
        opacity: 0.3;
        font-size: 1.2rem;
        font-weight: 400;
        letter-spacing: 1px;
    }

}

@include media("≥tablet") {
    
    .item {
        margin-left: 30px;
    }

}

@include media("<tablet") {

    .sectionFeedCarousel {
        padding: 2rem 0rem;
        &.withDescription {
            .row{
                flex-direction: column !important;
            }
        }
    }

}