.sectionLatestSeries{

    &.light {
        background-color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
        .title {
            color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.3);
        }
    }
    &.dark {
        background-color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
        .title {
            color: hsla(var(--light-h), var(--light-s), var(--light-l), 0.3);
        }
    }
    .title {
        font-weight: 600;
        font-size: 1.2em;
        margin-bottom: 15px;
    }

}