@import "~include-media/dist/_include-media.scss";

.sidebarFeedVod {
    border-radius: var(--border-radius);
    margin-left: 1rem;
    margin-right: 1rem;

    &.light {
        background-color: hsla(var(--light-h), var(--light-s), var(--light-l), 0.7);
        border: var(--border-width, 1px) solid hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.3);
        .header {
            background-color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
            &.card {
                .card-img-overlay {
                    background-color: hsla(var(--light-h), var(--light-s), var(--light-l), 0.2);
                    border-bottom: var(--border-width, 1px) solid hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.3);
                    .card-title{
                        color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
                        a {
                            color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
                        }
                    }
                }
            }
        }
    }
    
    &.dark {
        background-color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.7);
        border: var(--border-width, 1px) solid hsla(var(--light-h), var(--light-s), var(--light-l), 0.3);
        .header {
            background-color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 1);
            &.card {
                .card-img-overlay {
                    background-color: hsla(var(--dark-h), var(--dark-s), var(--dark-l), 0.2);
                    border-bottom: var(--border-width, 1px) solid hsla(var(--light-h), var(--light-s), var(--light-l), 0.3);
                    .card-title{
                        color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
                        a {
                            color: hsla(var(--light-h), var(--light-s), var(--light-l), 1);
                        }
                    }
                }
            }
        }
    }

    .rcs-custom-scroll {
        padding-right: 20px;
    }

    .header {
        min-height: 70px;
        &.card {
            border-radius: var(--border-radius) var(--border-radius) 0 0;
            height: 70px;
            overflow: hidden;
            .card-img {
                border-radius: var(--border-radius) var(--border-radius) 0 0;
                height: 100%;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .card-img-overlay {
                display: flex;
                align-items: center;
                border-radius: var(--border-radius) var(--border-radius) 0 0;
                .card-title{
                    font-weight: 400;
                    text-align: left;
                    margin-bottom: 0px;
                    width: 100%;
                    a {
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
    .list {
        margin-top: 1rem;
        position: relative;
        overflow-y: auto;
        max-height: 420px;
        display: grid;
        grid-row-gap: 10px;
        padding: 0 1rem 1rem;
        &::after {
            content: '';
            height: 80px;
        }
    }
    .list-mobile {
        display: none;
    }
}

@include media("<desktop") {
    .sidebarFeedVod {
        margin-left: 0px;
        margin-right: 0px;
    }
}

@include media("<=tablet") {
    .sidebarFeedVod {
        border: unset;
        
        .header {
            min-height: 70px;
            border-radius: none;
            &.card {
                border-radius: unset;
                height: 70px;
                .card-img {
                    display: none;
                }
                .card-img-overlay {
                    border-radius: unset;
                }
            }
        }
        .playlist {
            border-radius: unset;
        }
    }
}
@include media("<=desktop", "portrait", "retina3x", "retina2x") {
    .sidebarFeedVod {
        // min-height: 420px;
    }
}
@include media("<=phone") {
    .sidebarFeedVod {
        // min-height: 320px;
    }
}